{% extends 'index.html.twig' %}
{% block title %}Pedido{% endblock %}
{% block content %}
<script>
    var transporter = [{% for transporter in transporters %}{ value: '{{ transporter.name }}', port: '{{ transporter.port }}', cod: '{{ transporter.getId }}'},{% endfor %}]
    var payment = [{% for payment in payments %}{ value: '{{ payment.name }}', cod: '{{ payment.getId }}', plot: '{{ payment.isPlot }}' },{% endfor %}]
</script>

  <div class="py-2 px-1" id="form-order">
        <div class="col-12">
          <div class="clearfix">
            <h1 class="float-left">Criar Pedido</h1>{#<a href="/order/create" class="btn btn-white btn-lg float-left text-dark"><i       class="fas fa-arrow-right"></i> Ir para pedido automatico</a></h1>
          </div>
	    <small class="text-danger"><b>Esses pedidos não serão registrados no banco de dados nem contarão em relátorios</b></small>#}
        </div>
        <hr>
          <form method="POST" class="testPayload" {#action="/order/createmanualorder"#}>
           <div class="row">
          <div class="col-md-12 my-1">
            {% include "components/csrfToken.html.twig" with {'tokenText': 'formOrder'} %}
            <input type="submit" class="disable-on-submit btn btn-primary active btn-block btn-lg" {#toggle-disabled=""#} id="send-form" value="Criar pedido manual">
          </div>
        </div>
            <div class="row">
              <div class="col">
                <fieldset class="border border-light my-3">
                  <legend class="px-1 bg-light">Cadastro Básico</legend>
                  <div class="row m-1">
                    <div class="form-group col">
                      <label> Nome do cliente </label>
                      <input type="text" placeholder="Nome do cliente" class="form-control" name="clientName"> </div>
                    <div class="form-group col">
                      <label> Cidade </label>
                      <input type="text" placeholder="Cidade" class="form-control" name="clientCity"> </div>
                    </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-9" id="manualOrder">
                <fieldset class="border border-light">
                  <legend class="px-1 bg-light">Produtos</legend>
                  <div class="row">
                    <div class="col-md-12" id="tag">
                      <div class="input-group my-1 w-100" id="cloneableField">
                        <div class="col-4">
                          <input type="hidden" input-number='true' input-name="cloneableField" value="1">
                           <select class="load-models form-control" name="cloneableField0[model]" id="model" defaultClass="load-models form-control" required></select>
                          <input type="hidden" name="cloneableField0[color]" id="color" class="model-color" />
                        </div>
                        <div class="col">
                          <input type="hidden" name="cloneableField0[money]" id="money" converted-value="">
                          <input type="text" class="form-control numbers-only auto-float-convert-blur" id="price" placeholder="Preço" required="required" disabled>
                        </div>
                        <div class="col">
                          <input type="number" class="form-control col" name="cloneableField0[amount]" id="amount" placeholder="Qnt" required="required" disabled></div>
                        <div class="col-2">
                          <input type='text' class="form-control money-mask not-disable" id="totalPrice" disabled></div>
                        <div class="col">
                        <button type="submit" class="btn btn-success" add-btn="true">
                          <span class="fas fa-fw fa-plus" add-btn="true"></span>
                        </button>
                        <button type="submit" class="btn mx-1 btn-danger" remove-btn="true">
                          <i class="fas fa-fw fa-times" remove-btn="true"></i>
                        </button></div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="my-1 border border-light">
                  <legend class="px-1 bg-light">Valor total</legend>
                  <div class="row m-1">
                    <div class="col-7">
                      <div class="form-group">
                        <div class="input-group">
                          <h3>Total Produtos&nbsp;</h3>
                          <input type="hidden" id="hiddenAllProductsPrice" />
                          <h3><span id="allProductsPrice">R$&nbsp;0,00</span></h3>
                        </div>
                        <div class="input-group">
                          <h3>Valor Final &nbsp;</h3>
                          <h3><span id="finalPrice">R$&nbsp;0,00</span></h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <div class="input-group">
                          <h3>Total de Urna(s): &nbsp;</h3>
                          <h3><span id="finalAmount">0</span></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-3">
                <fieldset class="border border-light">
                  <legend class="px-1 bg-light">Outros</legend>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Seleciona a forma de pagamento</label>
                        <input type="hidden" name="formPg" id="paymentType" value="">
                        <input type="text" class="form-control no-keypress" id="payment" autocp="payment" autocomplete="off" required="required">
                        {#<small>Caso a opção seja putra seleciona outro</small>#}
                      </div>
                      <div class="form-group">
                        <label>Valor do frete</label>
                        <div class="input-group">
                          <input type="hidden" converted-value name="freight" id="hiddenFreight">
                          <input type="text" class="form-control numbers-float-only auto-float-convert-blur" id="freight"></div>
                      </div>
                      <div class="form-group">
                        <label>Desconto</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" {# toggle-disabled="discount" #} id="discountCheck">
                            </div>
                          </div>
                          <input type="hidden" name="discount" id="hiddenDiscount" converted-value value="0">
                          <input type="text" class="form-control numbers-float-only auto-float-convert-blur" disabled="disabled" id="discount">
                        </div>
                          <small class="form-text text-muted">Caso exista algum desconto marque a opção</small>
                      </div>
                      <div class="form-group">
                        <label>Barco & Transportadora</label>
                        <div class="input-group">
                          <input type="text" name="transporter" class="form-control no-keypress" autocp="transporter" id="transporter">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Porto</label>
                        <div class="input-group">
                          <input type="text" class="form-control" name="port" id="port">
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fieldset class="border border-light my-1">
                  <legend class="px-1 bg-light">Observações</legend>
                  <div class="row m-1">
                    <div class="form-group col">
                      <textarea class="form-control" value="escreve aqui" name="observation"></textarea>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
  </div>
{% endblock %}
