{% extends "index.html.twig" %}
{% block title %}Lista de relatórios{% endblock %}
{% block content %}
    <div class="col p-3">
        <div class="col">
            <h2>Lista de {{ type }}(s)</h2>
            <hr>
        </div>
        <div class="col px-3">
            {% for report in reports %}
            <div class="card">
                <div class="card-body row">
                    <div class="col text-center">
                        <a href="/forms/{{ type }}?repofile={{ report.name }}" class="text-center text-primary h4">
                            Relatorio de {{ report.created | date('d/m/Y') }}
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="/forms/{{ type }}?repofile={{ report.name }}" class="btn btn-secondary text-light font-weight-bold">
                            Visualizar
                        </a>
                    </div>
                </div>
            </div>    
            {% endfor %}
        </div>
    </div>
{% endblock %}