{% extends "headerTemplatePrint.html.twig" %}
{% block customStyle %}
    * {
        font-family: Arial, Helvetica, sans-serif !important;
    }
{% endblock %}
{% block body %}
    {% set total = 0 %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var rows = document.querySelectorAll('tbody tr')
            if (rows.length < 7) { 
                for (var o = rows.length; o < 7; o++) { 
                    document.querySelector('tbody').insertAdjacentHTML('beforeend', '<tr><td>&nbsp;</td><td>&nbsp;</td></tr>')
                }
            }
        });
    </script>
    <table class="table table-bordered-black table-sm">
        <thead>
            <tr><th colspan="2" class="text-center">AUTORIZAÇÃO DE RETIRADA</th></tr>
            <tr><td colspan="2" class="text-center">{{ 'now' | date('d/m/Y') }}</td></tr>
            <tr>
                <th class="text-center">CLIENTE</th>
                <td>{{ order.customerName }}</td>
            </tr>
            <tr><th colspan="2" class="text-center">DESCRIÇÃO</th></tr>
            <tr>
                <th class="text-center">QUANTIDADE</th>
                <th class="text-center">MODELO</th>
            </tr>
        </thead>
        <tbody>
        {% for item in order.manualProductCarts %}
            {% set total = total + item.productAmount %}
            <tr>
                <td class="text-center">{{ item.productAmount }}</td>
                <td class="text-center">{{ item.productName }}</td>
            </tr>            
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{{ total }}</td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}