{% extends 'headerTemplate.html.twig' %}

{% block title %}Pedido {{ order.getId }}{% endblock %}

{% block body %}
<style>
  @media print{@page {size: landscape}}
  textarea { resize: none}
  * { 
      font-size: 12px;
      margin: 0;
      padding: 0;
   }
  table.table-bordered, thead, tr, th, tbody, td, tfoot{
    border: 3px solid black!important;
  }
  
  #checklist th {
    font-size: 11px !important;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function (el) {
    var items = document.querySelectorAll('#financeiro>tr');
    var tbodyFinanceiro = document.querySelector('#financeiro');
    var prodItems = document.querySelectorAll('#production>tr');
    var tbodyProduction = document.querySelector('#production');

    if (items.length < 13 ) {
      for (var c = items.length; c < 12; c++) {
        tbodyFinanceiro.insertAdjacentHTML('beforeend', `<tr><td class="text-center">&nbsp;</td><td class="text-center">&nbsp;</td><td class="text-center">&nbsp;</td><td class="text-center">&nbsp;</td></tr>`)
      }
    }

    if (prodItems.length < 17 ) { 
      for (var c = prodItems.length; c < 16; c++) { 
        tbodyProduction.insertAdjacentHTML('beforeend', `<tr><td class="text-center">&nbsp;</td><td class="text-center" colspan=3>&nbsp;</td></tr>`)
      }
    }
})

  setTimeout(() => {
    window.print()
  }, 200);

</script>
{% set totalAmount = 0 %}
{% set totalProductPrice = 0 %}
<div id="page" class="row">
<div id="half-page" class="col-md-6">
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th>Nº:&nbsp;&nbsp;&nbsp;{{ order.getId }}</th>
      <th colspan=2>
        PEDIDO DE URNAS
      </th>
      <th>{{ order.getCreatedate | date('d/m/Y') }}</th>
    </tr>
    <tr>
      <th>Cliente:</th>
      <th>{{ order.getCustomerName }}</th>
      <th>Cidade:</th>
      <th>
          {% if order.getCustomerCity is defined %}
            {{ order.getCustomerCity }}
          {% endif %}
      </th>
    </tr>
  </thead>
  <tbody id="financeiro">
    <tr>
      <th>Quantidade</th>
      <th colspan=3 class="text-center">Produtos</th>
    </tr>
  
    {% if order.getProductCart is defined %}
        {% set cart = order.getProductCarts %}}
    {% else %}
        {% set cart = order.getManualProductCarts %}
    {% endif %}
  
  {% for product in cart %}
    {% if product.customPrice is defined and product.customPrice != null %}
        {% set prodPrice = product.customPrice %}
    {% else %}
        {% set prodPrice = product.getProductPrice %}
    {% endif %}
    <tr>
      <td class="text-center">{{ product.productAmount }}</td>
      <td class="text-center">{{ product.getProductName }}</td>
      <td class="text-center"><span class="float-left">R$</span><span class="float-right">{{ prodPrice | number_format(2, ',', '.') }}</span></td>
      <td class="text-center"><span class="float-left">R$</span><span class="float-right">{{ (prodPrice * product.getProductAmount) | number_format(2, ',', '.') }}</span></td>
  </tr>   
    {% set totalAmount = totalAmount + product.getProductAmount %} 
    {% set totalProductPrice = totalProductPrice + (prodPrice * product.getProductAmount) %}
  {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th class="text-center">{{ totalAmount }}</th>
      <th colspan=3>&nbsp;</th>
    </tr>
    <tr>
      <th colspan=2 class="text-right">Valor totoal produtoss</th>
      <th colspan=2><span class="float-left">R$</span><span class="float-right">{{ totalProductPrice | number_format(2, ',', '.') }}</span></th>
    </tr>
    <tr>
      <th colspan=2 class="text-right">Desconto</th>
      <th colspan=2><span class="float-left">R$</span><span class="float-right">{{ order.discount | number_format(2, ',', '.') }}</span></th>
    </tr>
    <tr>
      <th colspan=2 class="text-right">Taxa de entrega</th>
      <th colspan=2><span class="float-left">R$</span><span class="float-right">{{ order.freight | number_format(2, ',', '.') }}</span></th>
    </tr>
    <tr>
      <th colspan=2 class="text-right">Total</th>
      <th colspan=2><span class="float-left">R$</span><span class="float-right">{{ ((totalProductPrice + order. freight) - order.discount) | number_format(2, ',', '.') }}</span></span></th>
    </tr>
  </tfoot>
</table>
<div class="col-md-12 form-inline">
  <span class="mx-2"><b>OBS:</b></span><div class="form-control col">{{ order.comments }}</div>
</div>
<br>
<table id="checklist" class="table table-bordered table-sm col-md-6">
  <tr>
    <th width="50px">&nbsp;</th>
    <th>Etqieuas</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Pedido</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Faturamento</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Nota Fiscal</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Lançamento de planilha de faturamento</th>
  </tr>
</table>

</div>

<div id="half-page" class="col-md-6">
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>Nº:&nbsp;&nbsp;&nbsp;{{ order.getId }}</th>
      <th colspan=2>
        PEDIDO DE URNAS
      </th>
      <th>{{ order.getCreateDate | date('d/m/Y') }}
    </tr>
    <tr>
      <th>Cliente:</th>
      <th>{{ order.getCustomerName }}</th>
      <th>Cidade:</th>
      <th>{{ order.getCustomerCity }}</th>
    </tr>
  </thead>
  <tbody id='production'>
    <tr>
      <th>Quantidade</th>
      <th colspan=3 class="text-center">Produtos</th>
    </tr>
  <tr>
    {% for product in cart %}
        <tr>
            <td class="text-center">{{ product.getProductAmount }}</td>
            <td class="text-center" colspan=3>{{ product.getProductName }}</td>
        </tr>
    {% endfor %}
  <tfoot>
    <tr>
      <th class="text-center">{{ totalAmount }}</th>
      <th colspan=3></th>
    </tr>
  </tfoot>
</table>
<div class="col-md-12 form-inline">
  <span class="mx-2"><b>OBS:</b></span><div class="form-control col">{{ order.comments }}</div>
</div>
</div>

</div>
{% endblock %}