{% extends 'headerTemplate.html.twig' %}

{% block title %}Pedido {{ order.getId }}{% endblock %}

{% block body %}
<style>
  @media print {
    @page {
      size: landscape;
      margin: 0.2cm 0.2cm 0.2cm 0.2cm;
    }
  }

  textarea {
    resize: none
  }

  * {
    font-family: Arial, Helvetica, "Times New Roman", Times Verdana;
    font-size: 11px;
    margin: 0 auto;
    padding: 0;
  }

  table.table-bordered,
  thead,
  tr,
  th,
  tbody,
  td,
  tfoot {
    border: 2px solid black !important;
  }

  .p-10 {
    font-size: 12px !important;
  }

  .p-16 {
    font-size: 16px !important;
  }

  #checklist th {
    font-size: 11px !important;
  }

  .fl {
    font-size: 23px !important;
    font-weight: bold !important
  }

  .h-2 {
    font-size: 18px !important;
  }

  .py-2 {
    padding: 15px;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function (el) {
    var items = document.querySelectorAll('#financeiro>tr');
    var tbodyFinanceiro = document.querySelector('#financeiro');
    var prodItems = document.querySelectorAll('#production>tr');
    var tbodyProduction = document.querySelector('#production');

    if (items.length < 13) {
      for (var c = items.length; c < 12; c++) {
        tbodyFinanceiro.insertAdjacentHTML('beforeend', `<tr><td class="text-center">&nbsp;</td><td class="text-center">&nbsp;</td><td class="text-center">&nbsp;</td><td class="text-center">&nbsp;</td></tr>`)
      }
    }

    if (prodItems.length < 17) {
      for (var c = prodItems.length; c < 16; c++) {
        tbodyProduction.insertAdjacentHTML('beforeend', `<tr><td class="text-center">&nbsp;</td><td class="text-center" colspan=3>&nbsp;</td></tr>`)
      }
    }
  })

  setTimeout(() => {
    window.print()
  }, 200);

</script>
{% set totalAmount = 0 %}
{% set totalProductPrice = 0 %}
<div id="page" class="row">
  <div id="half-page" class="col-md-6">
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>Nº:&nbsp;&nbsp;&nbsp;{{ order.getId }}</th>
          <th colspan=2>
            PEDIDO DE URNAS
          </th>
          <th>
            {{ order.getCreatedate | date('d/m/Y') }}
            {% if order.getCreatedate | date('d/m/Y') != order.getLastUpdate | date('d/m/Y') %}
            &nbsp;&nbsp;&nbsp;
            Ultima alteração {{ order.getLastUpdate | date('d/m/Y') }}
            {% endif %}
          </th>
        </tr>
        <tr>
          <th>Cliente:</th>
          <th>{{ order.getCustomerName | upper }}</th>
          <th>Cidade:</th>
          <th>
            {% if order.getCustomerCity is defined %}
            {{ order.getCustomerCity | upper }}
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody id="financeiro">
        <tr>
          <th>Quantidade</th>
          <th colspan=3 class="text-center">Produtos</th>
        </tr>

        {% if order.getProductCart is defined %}
        {% set cart = order.getProductCarts %}}
        {% else %}
        {% set cart = order.getManualProductCarts %}
        {% endif %}

        {% for product in cart %}
        {% if product.customPrice is defined and product.customPrice != null %}
        {% set prodPrice = product.customPrice %}
        {% else %}
        {% set prodPrice = product.getProductPrice %}
        {% endif %}
        <tr>
          <td class="text-center"><strong class="p-16">{{ product.productAmount }}</strong></td>
          <td class="text-center"><strong class="p-16">{{ product.getProductName | upper }}</strong></td>
          <td class="text-center"><strong><span class="float-left p-16">R$</span><span
                class="float-right p-16">{{ prodPrice | number_format(2, ',', '.') }}</span></strong></td>
          <td class="text-center"><strong><span class="float-left p-16">R$</span><span
                class="float-right p-16">{{ (prodPrice * product.getProductAmount) | number_format(2, ',', '.') }}</span></strong>
          </td>
        </tr>
        {% set totalAmount = totalAmount + product.getProductAmount %}
        {% set totalProductPrice = totalProductPrice + (prodPrice * product.getProductAmount) %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th class="text-center p-16">{{ totalAmount }}</th>
          <th colspan=3>&nbsp;</th>
        </tr>
        <tr>
          <th colspan=2 class="text-right">Valor totoal produtos</th>
          <th colspan=2><span class="float-left">R$</span><span
              class="float-right">{{ totalProductPrice | number_format(2, ',', '.') }}</span></th>
        </tr>
        <tr>
          <th colspan=2 class="text-right">Desconto</th>
          <th colspan=2><span class="float-left">R$</span><span
              class="float-right">{{ order.discount | number_format(2, ',', '.') }}</span></th>
        </tr>
        <tr>
          <th colspan=2 class="text-right">Taxa de entrega</th>
          <th colspan=2><span class="float-left">R$</span><span
              class="float-right">{{ order.freight | number_format(2, ',', '.') }}</span></th>
        </tr>
        <tr>
          <th colspan=2 class="text-right">Total</th>
          <th colspan=2><span class="float-left font-weight-bold">R$</span><span
              class="float-right">{{ ((totalProductPrice + order. freight) - order.discount) | number_format(2, ',', '.') }}</span></span>
          </th>
        </tr>
      </tfoot>
    </table>
    <div class="col font-weight-bold h5">
      Transportadora = {{ order.getTransporter }}
    </div>
    <div class="col font-weight-bold h5">
      Porto = {{ order.getport }}
    </div>
    <div class="col-md-12 form-inline py-0">
      <span class="mx-2"><b>OBS:</b></span>
      <div class="form-control col fl">{{ order.comments }}</div>
    </div>
    <div class="col-md-12 my-3 form-inline">
      <span class="mx-2 py-2"><b class="h-2">POSIÇÃO DA PRODUÇÃO: ______________________</b></span></div>
    <br>
    {# <table id="checklist" class="table table-bordered table-sm col-md-6">
  <tr>
    <th width="50px">&nbsp;</th>
    <th>Etqieuas</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Pedido</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Faturamento</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Nota Fiscal</th>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>Lançamento de planilha de faturamento</th>
  </tr>
</table> #}

  </div>

  <div id="half-page" class="col-md-6">
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>Nº:&nbsp;&nbsp;&nbsp;{{ order.getId }}</th>
          <th colspan=2>
            PEDIDO DE URNAS
          </th>
          <th>{{ order.getCreateDate | date('d/m/Y') }}
            {% if order.getCreatedate | date('d/m/Y') != order.getLastUpdate | date('d/m/Y') %}
            &nbsp;&nbsp;&nbsp;
            Ultima alteração {{ order.getLastUpdate | date('d/m/Y') }}
            {% endif %}
        </tr>
        <tr>
          <th>Cliente:</th>
          <th>{{ order.getCustomerName | upper }}</th>
          <th>Cidade:</th>
          <th>{{ order.getCustomerCity | upper }}</th>
        </tr>
      </thead>
      <tbody id='production'>
        <tr>
          <th>Quantidade</th>
          <th colspan=3 class="text-center">Produtos</th>
        </tr>
        <tr>
          {% for product in cart %}
        <tr>
          <td class="text-center p-16">{{ product.getProductAmount }}</td>
          <td class="p-16" colspan=3>{{ product.getProductName }}</td>
        </tr>
        {% endfor %}
      <tfoot>
        <tr>
          <th class="text-center p-16">{{ totalAmount }}</th>
          <th colspan=3></th>
        </tr>
      </tfoot>
    </table>
    <div class="col-md-12 form-inline">
      <span class="mx-2"><b>OBS:</b></span>
      <div class="form-control col fl">{{ order.comments }}</div>
    </div>
    <div class="col-md-12 my-3 form-inline">
      <span class="mx-2 py-2"><b class="h-2">POSIÇÃO DA PRODUÇÃO: _________________________</b></span></div>
  </div>
</div>

</div>
{% endblock %}