{% extends 'index.html.twig' %}

{% block title %}Configurações{% endblock %}

{% block content %}
    <script>
        function reset(el) {
            el.preventDefault()
            simpleDialog('Deseja resetar a imagem?', function () {
                return true;
            })
        }
    </script>
    {% include '/components/notification.html.twig' %}
    <div class="px-4 py-3 col-md-12" type="config">
        <div class="clearfix">
            <h1>Configurações</h1>
        </div>
        <form method="post" action="/register/configuration" enctype="multipart/form-data">
            <div class="row" id='conf'>
                <div class="bg-light col-md-12">
                    <fieldset><legend class="font-weight-bold">Maque ou desmarque as opções</legend></fieldset>
                </div>
                <div class="p-2 col-md-12 row">
                    <div class="col-md-6">
                        <div class="bg-light col-md-12">
                            <fieldset><legend class="font-weight-bold">Geral</legend></fieldset>
                        </div>
                        <div class="p-2 border border-light">
                            {% for key, value in draw.check %}
                            <div class="form-check">
                                <input type="hidden" class="form-check-input" name="check[{{ value.name }}]" value="0">
                                <input type="checkbox" class="form-check-input" name="check[{{ value.name }}]" value="1" {{ config[value.name] ? 'checked' : '' }}>
                                <label for="{{ key }}">{{ value.label }}<span class="mx-1 badge badge-pill badge-warning" data-balloon="{{ value.tooltip }}" data-balloon-pos="up"><i class="fas fa-question"></i></span></label>
                            </div>
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-light col-md-12">
                            <fieldset><legend class="font-weight-bold">Carregar Imagens</legend></fieldset>
                        </div>
                        <div class="border border-light">
                            <small class="p-1">* Formatos suportados jpg e png</small><br>
                            <small class="p-1">* Imagens devem ter no maximo 4mb</small>
                            {% for key, value in draw.images %}
                            <div class="p-1">
                                <label for="{{ key }}">{{ value.label }} <span class="mx-1 badge badge-pill badge-warning" data-balloon="{{ value.tooltip is defined ? value.tooltip : '' }}" data-balloon-pos="up"><i class="fas fa-question"></i></span></label>
                                <div class="col-md-6">
                                    <img src="{{ asset(config[value.name] is defined ? config[value.name] : '') }}" class="img-fluid img-thumbnail" alt="{{ value.alt is defined ? value.alt : '' }}">
                                </div>
                                <div class="input-group mb-3 my-2">
                                    <div class="custom-file">
                                        <input type="hidden" name="images[{{ value.name }}]" value="null">
                                        <input type="file" id="file" class="custom-file-input" name="images[{{ value.name }}]">
                                        <label class="custom-file-label" for="customFile" aria-describedby="file">Selecione um arquivo</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="input-group-text bg-warning oneTimeClick" id="reset" file="/resetlogo" hash="{{ 'valido' | makeHash }}" token="{{ app.session.get('csrfToken') }}">Resetar</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <div class="bg-light col-md-12">
                            <fieldset><legend class="font-weight-bold">Pesquisa de satisfação</legend></fieldset>
                        </div>
                        <div class="border border-light">
                            {% for key, value in draw.surveyData %}
                            <div class="form-check">
                                <div class="form-check">
                                    <input type="hidden" class="form-check-input" name="survey[{{ value.name }}]" value="0">
                                    <input type="checkbox" class="form-check-input" name="survey[{{ value.name }}]" value="1" {{ config[value.name] ? 'checked' : '' }}>
                                    <label for="{{ key }}">
                                        {{ value.label }} 
                                        <span class="mx-1 badge badge-pill badge-warning" data-balloon="{{ value.tooltip }}" data-balloon-pos="up"><i class="fas fa-question"></i></span>
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="row m-2">
                                <div class="bg-light col-md-12">
                                    <fieldset><legend>Perguntas</legend></fieldset>
                                </div>
                                <div class="border border-light col p-3" id="cloneableField">
                                <div n-qtn><button class="btn btn-primary" n-qtn>Adicionar nova pergunta</button></div>
                                {% for question in config['survey_question'] %}
                                {% set survey_question = loop.index %}
                                {% set questType = question.type == 'radio' ? 'Alternativas' : 'Texto' %}
                                <div  class="border border-dark my-2 p-2">
                                    <input type="hidden" class="quest-number" value="{{ loop.index }}">
                                    <div class="f-right badge badge-pill badge-danger cursor-decoration" remove-quest>excluir a pergunta</div>
                                    <div class="form-group">
                                        <label class="form-label"><b>Pergunta</b></label>
                                        <input type="text" class="form-control" name="survey[survey_question][{{ loop.index }}][text]" value="{{ question.text }}" />
                                    </div>
                                    <div class="form-group my-4"> 
                                        <label class="form-label"><b>Tipo de questionário</b></label>
                                        <input type="hidden" name="survey[survey_question][{{ loop.index }}][type]" value="{{ question.type }}">
                                        <p>{{ questType }}</p>
                                        {% if question.alternatives is not empty %}
                                        <div class="form-group p-1" >
                                        <legend>Alterntivas</legend>
                                        <div id="surveyClone">
                                        {% for alternative in question.alternatives %}
                                        <input type="hidden" input-number='true' input-name="cloneableField" value="{{ loop.index }}" quest="{{ survey_question }}">
                                        <div class="form-inline py-1">
                                            <input type="text" class="form-control col-md-10" id="alternatives" name="survey[survey_question][{{ survey_question }}][alternatives][{{ loop.index }}]" value="{{ alternative }}" />
                                            <button type="button" class="btn mx-1 btn-danger" removeAlt><i class="fas fa-fw fa-times" removeAlt></i></button>
                                        </div>
                                        {% endfor %}
                                        <button type="button" class="btn btn-success my-2" cloneAlt><span class="fas fa-fw fa-plus" cloneAlt></span></button>
                                        </div>
                                        </div>
                                        {% else %}
                                        <input type="hidden" name="survey[survey_question][{{ loop.index }}][alternatives]" value="[]">
                                        {% endif %}
                                    </div>    
                                </div>    
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group">
                {% include 'components/csrfToken.html.twig' with {'tokenText' : 'configuration'} %}
                <input type="submit" class="btn btn-success btn-lg" value="Salvar Alterações">
            </div>
        </form>
    </div>
{% endblock %}