<div class="col-md-10" id="status{{ title.id }}" style="display: none">
    <div class="col">
        <h4>Alterar status do tilulo {{ title.boletoNumber }}/{{ title.boletoInstallment }}</h4>
        <hr>
        <form method="POST" action="/report/boleto/status/{{ title.id }}">
            <div class="form-row">
                <div class="form-group col">
                    <label for="boletoStatus">Status do Boleto.</label>
                    {% if title.boletoStatus == '1' %}
                        <div class="form-control">Pago</div>
                        <small class="text-danger">Boletos pagos não podem ter seu status alterado nem podem ser editados.</small>
                        </div>
                        <div class="form=group col">
                            <label for="paymentDate">Data do Pagamento</label>
                            <div class="form-control">{{ title.boletoPaymentDate | date('d/m/Y') }}</div>
                        </div>
                        </div>
                    {% else %}
                        <select class="form-control status-change" name="boletoStatus" id="date{{ title.id }}">
                            <option value="0" {{ title.boletoStatus == 0 ? 'selected' : '' }}>Não Pago</option>
                            <option value="1">Pago</option>
                            <option value="2" {{ title.boletoStatus == 2 ? 'selected' : '' }}>Pagamento em Atraso</option>
                            <option value="3" {{ title.boletoStatus == 3 ? 'selected' : '' }}>Pagamento Provisionado</option>
                            <option value="4" {{ title.boletoStatus == 4 ? 'selected' : '' }}>Pagamento Por Conta</option>
                        </select>
                        </div>
                        <div class="form-group col">
                            <label for="paymentDate">Data de Pagamento</label>
                            <input type="hidden" id="converted-date{{ title.id }}" name="boletoPaymentDate">
                            <input type="text" class="form-control no-keypress calendar-selector" date-target="#converted-date{{ title.id }}" placeholder="Clique para selecionar data de pagamento" autocomplete="off" disabled>
                        </div>
                        </div>
                        {% if title.getBoletoPorContaStatus is not same as(null) %}
                            <div class="form-row">
                                {% for status in title.getBoletoPorContaStatus %}
                                    <div class="form-group col">
                                        <label for="porContaValue">Valor Dado Por Conta</label>
                                        <div class="form-group h4">&nbsp;R$ {{ status.porContaValue | number_format(2, ',', '.') }}</div>
                                        <small class="text-danger">Esses pedidos valores não podem ser alterados</small>
                                    </div>
                                    <div class="form-group col">
                                        <label for="porContaValue">Data do pagamento por conta</label>
                                        <div class="form-group h4">&nbsp;{{ status.porContaDate | date('d/m/Y') }}</div>
                                    </div>
                                    <div class="form-group col">
                                        <label for="porContaValue">Data deste pagemento</label>
                                        <div class="form-group h4">&nbsp;{{ status.statusDate }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-row">
                            <div class="form-group col">
                                <input type="hidden" id="porContaMoney-date{{ title.id }}" name="porContaValue" converted-value />
                                <input type="{{ title.getBoletoStatus == 4 ? 'text' : 'hidden' }}" class="form-control numbers-float-only auto-float-convert-blur"  auto-clear id="porContaValue-date{{ title.id }}" placeholder="valor dado por conta" />
                            </div>
                            <div class="form-group col">
                                <input type="hidden" name="porContaDate" id="porContaDate-date{{ title.id }}" />
                                <input type="{{ title.getBoletoStatus == 4 ? 'text' : 'hidden' }}" class="form-control no-keypress calendar-selector" id="hiddenDate-date{{ title.id }}" date-target="#porContaDate-date{{ title.id }}" placeholder="Clique para selecionar data de pagamento" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {% include "components/csrftoken.html.twig" %}
                                <button type="submit" class="btn btn-block btn-success">Alterar Status do titulo {{ title.boletoNumber }}/{{ title.boletoInstallment }}</button>
                            </div>
                        </div>
                    {% endif %}
        </form>
    </div>
</div>