<div class="py-4 col-md-10 d-none" id="view{{product.getId}}">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    Atualizar Produto
                    <h4>
                        <b>{{ product.name }}</b>
                    </h4>
                </div>
                <div class="float-right">
                    <h4>Atualizado por:
                    </h4>
                    <h4>Em
                        {{ product.lastUpdate }}</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                        <div class="row">
                        <div class="col-md-8">
                            <fieldset class="border border-light">
                                <legend class="bg-light px-1">Informações Básicas</legend>
                                <div class="col-md-12 py-2">
                                    <div class="form-group">
                                        <label for="productName" class="required">Nome do produto</label>
                                        <p><strong>{{ product.name }}</strong></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="usedIn">Modelo</label>
                                        <p><strong>{{ product.series }}</strong></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descrição</label>
                                        <textarea class="form-control" name="description" placeholder="Descrição opcional"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="usedIn">Composição</label>
                                        <input type="text" name="type" class="form-control" value="criar um selecionador de varios modelos básicos">
                                    </div>

                            </fieldset>
                        </div>

                        <div class="col-md-4">
                            <fieldset class="border border-light px-1">
                                <legend for="unitAndAmount" class="bg-light">OUTRAS INFO.</legend>

                                    <div class="form-group">
                                        <label for="price" class="required">Preço</label>
                                        <p><strong>{{ product.price }}</strong></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="colors">Cores</label>
                                        <select name="colors[]" class="d-none" name="colors" id="colorsList" multiple="multiple" required></select>
                                        <div id="inputOtherVendors">
                                            <small>Aperte abaixo para incluir cores</small><br>
                                            <div class="input-group">
                                                <ul class="form-control py-1" data-target="colors" id="colorsGrid">
                                                    {% if product.color != [] %}
                                                        {% for color in product.color %}
                                                            <li class="badge badge-pill badge-light"><span class="mx-1">{{ color }}</span></li>
                                                        {% endfor %}
                                                    {% else %}
                                                        Não ha cores cadastradas :(
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="maxStock" class="required">Estoque Maximo</label>
                                        <p><strong>{{ product.getMaxStock }}</strong></p>
                                    </div>

                                    <div class="form-group">
                                        <label for="maxStock" class="required">Estoque Mínimo</label>
                                        <p><strong>{{ product.getMinStock }}</strong></p>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>
            </div>
        </div>
</div>