{% extends 'index.html.twig' %}

{% block content %}
    {% set listItens = [
            {
                link : 'create',
                text : 'Criar Novo Titulo',
                class: 'fancy-conversion'
            },
            { link: 'list', text: 'Listar Titulos' }, 
            { link: 'pieChart', text: 'Criar Relátorios', class: 'fancy-conversion', loopable: 'true' },
            { link: 'listReport', text: 'Criar Relatrio em Lista', class: 'fancy-conversion', loopable: 'true' }
        ] %}
        {% include "components/simpleBar.html.twig" with {'metalink' : 'report', 'pageType': 'boleto',  'barBackground' : 'secondary', 'listItens': listItens } %}
    <div class="p-3 col" id="boleto-index">
        <div>
            <h2>Extrato simples de titulos.</h2>
            <hr>
        </div>
        <div id="show-titles" class="col">
            {% if simpleView is empty %}
            
                <h3>Não ha titulos registrados</h3>

            {% else %}
                
            {% for sview in simpleView %}
                <div class="row">
                    <div class="col"><p>{{ sview.boletoCustomerOwner }}</p></div>
                    <div class="col"><p>{{ sview.boletoNumber }}/{{ sview.boletoInstallment }}</p></div>
                    <div class="col"><p>{{ sview.boletoValue }}</p></div>
                    <div class="col"><p>{{ sview.boletoVencimento | date('d/m/Y') }}</p></div>
                </div>
            {% endfor %}
            
            {% endif %}
        </div>
    </div>

    {% include "report/pages/boleto/create.html.twig" %}
    {% for item in listItens if item.loopable is defined %}
        {% include "report/pages/boleto/reportDateInterval.html.twig" with { 'item': item } %}
    {% endfor %}
{% endblock %}