{% extends 'index.html.twig' %}

{% block content %}
{% set questions = {
    1: {
            'text': 'Qual seu nome meu amiginho',
            'type': 'text',
            'alternatives': '',
        },
        2: {
            'text': 'Qual o seu grau de escolaridade?',
            'type': 'checkbox',
            'alternatives': {
                '1': 'nenhuma',
                '2': 'ensino médio',
                '3': 'ensino superior',
                '4': 'eu inventei o ensino!!!!!!'
            }
        },
        3: {
            'text': 'You know what a synchron summon is?',
            'type': 'radio',
            'alternatives': ''
        }    
}
%}
{% set surveys = {
        '21.01.2019': {
            '1': 'andre',
            '2': 'yasmim',
            '3': 'debóra',
            '4': 'fabrício',
            '5': 'simone',
            '6': 'augusto' 
        },
        '22.01.2019': {
            '3': 'brito',
            '4': 'bakerbrodbistviewbst'
        }
    } 
    %}
<div class="p-3 col">
    <div>
        <h1>Pesquisas de Satisfação</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="col">Tipos de pesquisa</h3>  
        </div>
        <div class="col-md-12 px-4 py-2">
            <ul class="nav nav-pills mb-3" id="surveys" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-dark" id="travel-tab" data-toggle="pill" href="#travel" role="tab" aria-controls="travel" aria-selected="true">Pesquisas de viagem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="outro-tab" data-toggle="pill" href="#outro" role="tab" aria-controls="outro" aria-selected="false">Pesquisas de viagem</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-surveys">
                <div class="tab-pane fade show active" id="travel" role="tabpanel" aria-labelledby="travel-tab">
                    <div class="col">
                        <legend>Relatórios</legend>
                        {% for date, names in surveys %}
                        <ul class="list-group py-2" surveyDate="{{ date }}{{ csrf_token(date) }}">
                            <legend>
                                {{ date | date('d/m/Y') }} 
                                {% if flops is not defined %}
                                    <small send-all-survey="zz"><a href="javascript:;" send-all-survey="zz" class="badge badge-success badge-pill badge-sm text-light py-1">Salvar pesquisa</a></small>
                                {% else %}
                                    <small><a href="javascript:;" class="badge badge-light badge-pill badge-sm text-dark py-1">Pesquisa encerrada</a></small>
                                {% endif %}
                            </legend>
                            {% for nameId, name in names %}
                            <li class="list-group-item list-group-item-action align-right user-name">{{ name }}
                            {% if flops is not defined %}
                                <a href="javascript:;" run-save-action="" class="badge badge-success badge-pill float-right mx-1"><i class="fas fa-check"></i></a>
                            {% endif %}
                            
                            <a href="javascript:;" data-fancybox data-src="#pesquisa{{name}}{{csrf_token(date)}}" class="badge badge-secondary badge-pill float-right text-light mx-1"><i class="fas fa-tasks"></i></a>
                            <div id="pesquisa{{name}}{{csrf_token(date)}}" style="display: none;">
                                {% if flops is defined %}
                                    Non floped
                                {% else %}
                                    <p class="m-2">Pesquisa ainda não salva.</p>
                                {% endif %}
                            </div>

                            <a href="javascript:;" data-fancybox data-src="#{{name}}{{csrf_token(date)}}" class="content badge badge-primary badge-pill float-right mx-1"><i class="far fa-comment"></i></a></li>
                            <form id="{{name}}{{csrf_token(date)}}" style="display: none;">
                            {% if flops is not defined %}
                                {% set questionNumber = 0 %}
                                <h5 class="card-title">{{ name | upper }}</h5>
                                <p><small>Viagem do dia {{ date | date('d/m/Y') }}</small></p>
                                {% for question in questions %}
                                    {% set questionNumber = questionNumber + 1 %}
                                    <div class="form-group">
                                        <label for="text">{{ question.text }}</label>
                                        {% if question.type == 'text' %}
                                            <input type="{{ question.type }}" class="form-control" name="customer[{{ name }}][{{ questionNumber }}]" required /> 
                                        {% elseif question.type == 'radio' %}
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" name="customer[{{ name }}][{{ questionNumber }}]" value="sim" />
                                                <label class="form-check-label">Sim</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" name="customer[{{ name }}][{{ questionNumber }}]" value="nao" />
                                                <label class="form-check-label">Não</label>
                                            </div>
                                        {% endif %}
                                        {% for alternative in question.alternatives %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="{{alternative}}" name="customer[{{name}}][checkbox]" />
                                                <label class="form-check-label">
                                                    {{ alternative }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p class="m-2">Pesquisa já realizada.</p>
                            {% endif %}
                            </form>              
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="outro" role="tabpanel" aria-labelledby="outro-tab">
                    tudo bem?
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}