{% extends 'index.html.twig' %}

{% block content %}
{% set questions = {
    1: {
            'text': 'Qual seu nome meu amiginho',
            'type': 'text',
            'alternatives': '',
        },
        2: {
            'text': 'Qual o seu grau de escolaridade?',
            'type': 'checkbox',
            'alternatives': {
                '1': 'nenhuma',
                '2': 'ensino médio',
                '3': 'ensino superior',
                '4': 'eu inventei o ensino!!!!!!'
            }
        },
        3: {
            'text': 'You know what a synchron summon is?',
            'type': 'radio',
            'alternatives': ''
        }    
}
%}
{% set surveys = {
        '21.01.2019': {
            '1': 'andre',
            '2': 'yasmim' 
        },
        '22.01.2019': {
            '3': 'brito',
            '4': 'bakerbrodbistviewbst'
        }
    } 
    %}
<div class="p-3 col">
    <div>
        <h1>Pesquisas de Satisfação</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="col">Tipos de pesquisa</h3>  
        </div>
        <div class="col-md-12 px-4 py-2">
            <ul class="nav nav-pills mb-3" id="surveys" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-dark" id="travel-tab" data-toggle="pill" href="#travel" role="tab" aria-controls="travel" aria-selected="true">Pesquisas de viagem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" id="outro-tab" data-toggle="pill" href="#outro" role="tab" aria-controls="outro" aria-selected="false">Pesquisas de viagem</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-surveys">
                <div class="tab-pane fade show active" id="travel" role="tabpanel" aria-labelledby="travel-tab">
                    <div class="col">
                        <legend>Relatórios</legend>
                        {% for date, names in surveys %}
                        <ul class="list-group py-2">
                            <legend>{{ date }}</legend>
                            {% for nameId, name in names %}
                            <li class="list-group-item list-group-item-action align-right">{{ name }} com numero {{ nameId }}
                            <span class="badge badge-danger badge-pill float-right mx-1"><i class="fas fa-times-circle"></i></span>
                            <div>
                                {% set questionNumber = 0 %}
                                {% for question in questions %}
                                    {% set questionNumber = questionNumber + 1 %}
                                    <div class="form-group">
                                        <label for="text">{{ question.text }}</label>
                                        {% if question.type == 'text' %}
                                            <input type="{{ question.type }}" class="form-control" name="customer[{{ name }}][{{ questionNumber }}]" /> 
                                        {% elseif question.type == 'radio' %}
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" name="customer[{{ name }}][{{ questionNumber }}]" value="sim" />
                                                <label class="form-check-label">Sim</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" name="customer[{{ name }}][{{ questionNumber }}]" value="sim" />
                                                <label class="form-check-label">Não</label>
                                            </div>
                                        {% endif %}
                                        {% for alternative in question.alternatives %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" />
                                                <label class="form-check-label">
                                                    {{ alternative }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <span class="badge badge-secondary badge-pill float-right mx-1"><i class="fas fa-tasks"></i></span>
                            
                            <span class="badge badge-primary badge-pill float-right mx-1"><i class="far fa-comment"></i></span></li>
                            <div class="" style="display: none">
                                
                            </div>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                        <ul class="list-' py-2">
                            <legend>21/01/2018</legend>
                            <li class="list-group-item list-group-item-action">Fred</li>
                            <li class="list-group-item list-group-item-action">Zeca</li>
                            <li class="list-group-item list-group-item-action">João</li>
                            <li class="list-group-item list-group-item-action">Marcley</li>
                            <li class="list-group-item list-group-item-action">Samuel</li>
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="outro" role="tabpanel" aria-labelledby="outro-tab">
                    tudo bem?
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}