{% extends "index.html.twig" %}
{% block title %}Lista de prestação de contas.{% endblock %}
{% block content %}
    <div class="col py-3">
        <div class="col">
            <h2>Lista de prestaçao de contas.</h2>
            <hr>
        </div>
        <div class="col">
            {% for repo in simpleView %}
                <div class="row col py-2">
                    <div class="col">
                        <a href="{{ repo.active ? '/forms/travel-report/' ~ repo.id : 'javascript:;' }}" class="text-primary h4">{{ repo.driverName }} - {{ repo.departureDate | date("d/m/Y") }} - {{ repo.arrivalDate | date("d/m/Y") }}</a>
                    </div>
                    <div class="col">
                        <a {# href="/forms/travel-report/print" #} href="/travel/accountability/{{ repo.id }}" class="btn btn-outline-success text-dark mx-2">Imprimir</a>
                        {% if repo.active %}
                            <a href="/travel/accountability/edit/{{repo.id}}" class="btn btn-warning text-dark">Editar</a>
                        {% else %}
                            <btn class="btn btn-danger text-light">Pedido fechado.</btn>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}