{% extends 'index.html.twig' %}

{% block content %}
    <div class="py-4 col-md-11 d-none" id="add">
        <form id="form-add">
            <div class="card">
                <div class="card-header">Detalhes do Produto {{  }}</div>
                <div class="card-body fitable">
                    <div class="card-text fix-height">

                        <div class="row">
                            <div class="col-md-8">
                                <fieldset class="border border-light">
                                    <legend class="bg-light px-1">Informações Básicas</legend>
                                    <div class="col-md-12 py-2">
                                        <div class="form-group">
                                            <label for="productName" class="required">Nome do produto</label>
                                            <input type="text" class="form-control" name="name" placeholder="Insira o nome aqui" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Descrição</label>
                                            <textarea class="form-control" name="description" placeholder="Descrição opcional"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="usedIn">Usado nos modelos</label>
                                            <input type="text" name="type" class="form-control" value="criar um selecionador de varios modelos básicos">
                                        </div>
                                        <div class="form-group">
                                            <label for="mainVendor" class="required">Fornecedor Principal</label>
                                            <input type="text" class="form-control" name="mainVendor" placeholder="Fornecedor principal" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="otherVendors">Outros Fornecedores</label>
                                            <select name="otherVendors[]" class="d-none" id="otherVendors" multiple>
                                            </select>
                                            <div id="inputOtherVendors" class="p-1">
                                                <small>Aperte abaixo para incluir outros fornecedores</small><br>
                                                <div class="input-group my-2">
                                                    <ul class="form-control py-1" id="vendorsList"></ul>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="removeAll">x</span>
                                                    </div>
                                                </div>
                                                <input type="text" class="d-none form-control" id="inputOtherVendors" placeholder="Insira o nome e aprte ENTER">
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>

                            <div class="col-md-4">
                                <fieldset class="border border-light">
                                    <legend for="unitAndAmount" class="bg-light">UND e QNT</legend>
                                    <div class="col-md-12 px-2">

                                        <div class="form-group">
                                            <label for="unit" class="required">Tipo de unidade</label>
                                            <select name="unit" class="form-control" required>
                                                <option value="" selected disabled>Selecione</option>
                                                {% if unit %}
                                                    {% for u in unit %}
                                                        <option value={{ u.getId }}>{{ u.name | capitalize }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="departament" class="required">Departamento</label>
                                            <select name="departament" name="departament" class="form-control" required>
                                                <option value="" selected disabled>Selecione</option>
                                                {% if departament %}
                                                    {% for d in departament %}
                                                        <option value={{ d.getId }}>{{ d.name | capitalize  }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="maxStock" class="required">Estoque Maximo</label>
                                            <input type="text" name="maxStock" class="form-control numbers-float-only" placeholder="Max" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="maxStock" class="required">Estoque Mínimo</label>
                                            <input type="text" name="minStock" class="form-control numbers-float-only" placeholder="Min" required>
                                        </div>

                                        <div class="form-group" id="periocid">
                                            <label for="periocid" class="required">Periocidade de Reabastecimento</label>
                                            <select class="form-control" id="select" name="periocid" required>
                                                <option value="" selected disabled>Selecione</option>
                                                <option value="15">15 dias</option>
                                                <option value="30">30 dias</option>
                                                <option value="45">45 dias</option>
                                                <option value="other" id="other">Outro</option>
                                            </select>
                                        </div>

                                        <div class="form-group d-none" id="customPeriocid">
                                            <label for="otherPeriocid" class="">Informe a periocidade</label>
                                            <input type="text" class="form-control numbers-only" placeholder="Periodicidade em dias">
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-danget" onclick="$.fancybox.destroy()">Fechar</button>
                    <button class="btn btn-primary" sendvt="/storage/feedstockAction">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="p-3">
            {{ form_widget(feedform.save) }}
    Nome {{ form_widget(feedform.nome) }}
    </div>
{% endblock %}