{% extends 'index.html.twig' %}

{% block content %}
    <div class="py-4 col-md-12" id="add">
            <div class="card">
                <div class="card-header">Detalhes do Produto <h4><b>{{ product.nome }}</b></h4></div>
                <div class="card-body fitable">

                        <div class="row">
                            <div class="col-md-8">
                                <fieldset class="border border-light">
                                    <legend class="bg-light px-1">Informações Básicas</legend>
                                    <div class="col-md-12 py-2">
                                        <div class="form-group">
                                            <label for="productName" class="required">Nome do produto</label>
                                            {{ form_widget(feedForm.nome) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Descrição</label>
                                            {{ form_widget(feedForm.description) }}
                                        </div>
                                        <!--
                                        <div class="form-group">
                                            <label for="usedIn">Usado nos modelos</label>

                                        </div>
                                        -->
                                        <div class="form-group">
                                            <label for="mainVendor" class="required">Fornecedor Principal</label>
                                            {{ form_widget(feedForm.vendors) }}
                                        </div>
                                        <div class="form-group">
                                            <label for="otherVendors">Outros Fornecedores</label>
                                            <select name="otherVendors[]" class="d-none" id="otherVendors" multiple>
                                            </select>
                                            <div id="inputOtherVendors" class="p-1">
                                                <small>Aperte abaixo para incluir outros fornecedores</small><br>
                                                <div class="input-group my-2">
                                                    <ul class="form-control py-1" id="vendorsList"></ul>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="removeAll">x</span>
                                                    </div>
                                                </div>
                                                <input type="text" class="d-none form-control" id="inputOtherVendors" placeholder="Insira o nome e aprte ENTER">
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>

                            <div class="col-md-4">
                                <fieldset class="border border-light">
                                    <legend for="unitAndAmount" class="bg-light">UND e QNT</legend>
                                    <div class="col-md-12 px-2">

                                        <div class="form-group">
                                            <label for="unit" class="required">Tipo de unidade</label>
                                            <select name="unit" class="form-control" required>
                                                <option value="" selected disabled>Selecione</option>

                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="departament" class="required">Departamento</label>
                                            <select name="departament" name="departament" class="form-control" required>
                                                <option value="" selected disabled>Selecione</option>

                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="maxStock" class="required">Estoque Maximo</label>
                                            {{ form_widget(feedForm.maxStock) }}
                                        </div>

                                        <div class="form-group">
                                            <label for="maxStock" class="required">Estoque Mínimo</label>
                                            {{ form_widget(feedForm.minStock) }}
                                        </div>

                                        <div class="form-group" id="periocid">
                                            <label for="periocid" class="required">Periocidade de Reabastecimento</label>
                                            <select class="form-control" id="select" name="periocid" required>
                                                <option value="" selected disabled>Selecione</option>
                                                <option value="15">15 dias</option>
                                                <option value="30">30 dias</option>
                                                <option value="45">45 dias</option>
                                                <option value="other" id="other">Outro</option>
                                            </select>
                                        </div>

                                        <div class="form-group d-none" id="customPeriocid">
                                            <label for="otherPeriocid" class="">Informe a periocidade</label>
                                            <input type="text" class="form-control numbers-only" placeholder="Periodicidade em dias">
                                        </div>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-danget" onclick="$.fancybox.destroy()">Fechar</button>
                    {{ form_widget(feedForm.save) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}