{% extends 'index.html.twig' %}

{% block content %}

    {% if flash is defined %}
        <div class="bg-danger">
            {{ flash }}
        </div>
    {% endif %}
    

    <div class="py-4 col-md-12" id="add">
        <form method="POST" action="/storage/product/update/{{ product.getId }}">
            <div class="card">
                <div class="card-header">
                    <div class="float-left">
                        Atualizar Produto
                        <h4>
                            <b>{{ product.name }}</b>
                        </h4>
                    </div>
                    <div class="float-right">
                        <h4>Atualizado por:
                        </h4>
                        <h4>Em
                            {{ product.lastUpdate }}</h4>
                    </div>
                </div>
                <div class="card-body fitable">
                    <div class="card-text">
                        <div class="row">
                        <div class="col-md-8">
                            <fieldset class="border border-light">
                                <legend class="bg-light px-1">Informações Básicas</legend>
                                <div class="col-md-12 py-2">
                                    <div class="form-group">
                                        <label for="productName" class="required">Nome do produto</label>
                                        <input type="text" class="form-control" name="name" placeholder="Insira o nome aqui" required="required" value="{{ product.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="usedIn">Modelo</label>
                                        <input type="text" name="model" id="model" class="form-control" placeholder="modelo" value="{{ product.series }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descrição</label>
                                        <textarea class="form-control" name="description" placeholder="Descrição opcional"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="usedIn">Composição</label>
                                        <input type="text" name="type" class="form-control" value="criar um selecionador de varios modelos básicos">
                                    </div>

                            </fieldset>
                        </div>

                        <div class="col-md-4">
                            <fieldset class="border border-light px-1">
                                <legend for="unitAndAmount" class="bg-light">OUTRAS INFO.</legend>

                                    <div class="form-group">
                                        <label for="price" class="required">Preço</label>
                                        <input type="text" name="price" id="price" class="form-control numbers-only" placeholder="Apenas numeros" value="{{ product.price }}" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="colors">Cores</label>
                                        <select name="colors[]" class="d-none" name="colors[]" id="colorsList" multiple="multiple" required>
                                            {% for color in product.color %}
                                                <option value="{{ color }}" id="{{ color }}" selected>{{ color }}</option>
                                            {% endfor %}
                                        </select>
                                        <div id="inputOtherVendors">
                                            <small><strong>Aperte abaixo para incluir cores</strong></small><br>
                                            <div class="input-group">
                                                <ul class="form-control py-1" data-target="colors" id="colorsGrid">
                                                    {% for color in product.color %}
                                                        <li class="badge badge-pill badge-light" name="{{ color | lower }}"><span class="mx-1">{{ color }}</span><span class="text-danger cursor-decoration" data-target="colors" id="removeItem">x</span></li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" data-target="colors" id="removeAll">x</span>
                                                </div>
                                            </div>
                                            <input type="text" class="d-none form-control my-1" id="colors" placeholder="Insira o nome e aprte ENTER">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="maxStock" class="required">Estoque Maximo</label>
                                        <input type="text" name="maxStock" class="form-control numbers-float-only" placeholder="Max" required="required" value="{{ product.getMaxStock }}">
                                    </div>

                                    <div class="form-group">
                                        <label for="maxStock" class="required">Estoque Mínimo</label>
                                        <input type="text" name="minStock" class="form-control numbers-float-only" placeholder="Min" required="required" value="{{ product.getMinStock }}">
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a href="/storage/feedstock" class="btn btn-light">Voltar</a>
                    <a class="btn btn-danger text-light" del="{{ '/storage/productAction/' | rot13 }}{{ product.getId }}">Remover</a>
                    <input type="submit" class="btn btn-primary" value="Atualizar">
                </div>
            </div>
        </form>
    </div>

{% endblock %}