<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    #page { width: 100%; height: 100%; page-break-after: always }
    #half-page { height: 50%; margin: 0px 0px 0px 0px; }
    #form { padding: 10px; font: 15px "Arial"; }
    .f-right { float: right; }
    .f-left { float: left; }
    .clear { clear:both }
    .body { padding: 0px 30px 0px 30px; }
    .body p, .body div { font: 18px "Arial"}
    .footer { padding: 0px 30px 0px 30px; font: 18px "Arial"; }
    .img img { width: 120px; height: 100px; display:inline;}
    .py-5 { padding: 50px 0px 0px 0px; }
    .center { text-align:center }
    .sign { margin: 30px 0px 0px 0px }
    .c { margin: 0px 0px 0px 90px;}
</style>
{% for data in prod %}
{% set freightPrice = data.price | number_format(2, '.', ',') %}
<div id="page">
    <div id="half-page">
        <div id="form">
            <div class="head">
                <div class="f-right">Urnas Mart Ltda</div>
                <div class="f-left">05.020.839/0001.05</div>
                <div class="clear"></div>
                <div class="f-left">(91) 3256 1106</div>
            </div>
            <div class="clear"></div>
            <div class="body">
                <h2 class="center">RECIBO</h2>
                <p>Á</p>
                <div><span class="f-left">{{ data.number }} - {{ data.clientName }}</span><span class="f-right">R$ {{ freightPrice | number_format(2, ',', '.') }}</span><br><span class="f-left">{{ data.clientCity }} - {{ data.clientState }}</span></div>
                <div class="clear"></div>
                <p class>Pagar ao portador o Valor de R$ {{ freightPrice | number_format(2, ',', '.') }} ({{ freightPrice | extense | upper }}) referente a quitação do pedido de número {{ data.orderNumber }}, ao qual damos plena quitação.
                </p><p>Atenciosamente,</p>
            </div>
            <div class="footer py-5">
                <div class="clear"></div>
                <div class="sign">
                    <div class="f-left">
                        <span>______/_______/_____________</span>
                        <br>
                        <div class="c">Data</div>
                    </div>
                    <div class="f-right">
                        <span>____________________________</span>
                        <br>
                        <div class="c">Cliente</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="half-page">
        <div id="form">
            <div class="head">
                <div class="f-right">Urnas Mart Ltda</div>
                <div class="f-left">05.020.839/0001.05</div>
                <div class="clear"></div>
                <div class="f-left">(91) 3256 1106</div>
            </div>
            <div class="clear"></div>
            <div class="body">
                <h2 class="center">RECIBO</h2>
                <p>Á</p>
                <div><span class="f-left">{{ data.number }} - {{ data.clientName }}</span><span class="f-right">R$ {{ freightPrice | number_format(2, ',', '.') }}</span><br><span class="f-left">{{ data.clientCity }} - {{ data.clientState }}</span></div>
                <div class="clear"></div>
                <p class>Pagar ao portador o Valor de R$ {{ freightPrice | number_format(2, ',', '.') }} ({{ freightPrice | extense | upper }}) referente a quitação do pedido de número {{ data.orderNumber }}, ao qual damos plena quitação.
                </p><p>Atenciosamente,</p>
            </div>
            <div class="footer py-5">
                <div class="clear"></div>
                <div class="sign">
                    <div class="f-left">
                        <span>______/_______/_____________</span>
                        <br>
                        <div class="c">Data</div>
                    </div>
                    <div class="f-right">
                        <span>____________________________</span>
                        <br>
                        <div class="c">Cliente</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{% endfor %}