<html>
<style>

/*! CSS Used from: Embedded */
*{font-family:Arial, Helvetica, sans-serif!important;font-weight:bolder!important;}
body{font-size:.875rem;}
*,*::before,*::after{box-sizing:border-box;}
body{margin:0;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size:1rem;font-weight:200;line-height:1.5;color:#333;text-align:left;background-color:white;}
hr{box-sizing:content-box;height:0;overflow:visible;}
img{vertical-align:middle;border-style:none;}
.h1,.h2,.h3,.h4,.h5,.h6{margin-bottom:0.75rem;font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-weight:200;line-height:1.2;color:inherit;}
.h1{font-size:2.5rem;}
.h2{font-size:2rem;}
.h3{font-size:1.75rem;}
.h4{font-size:1.5rem;}
.h5{font-size:1.25rem;}
.h6{font-size:1rem;}
.display-1{font-size:6rem; font-weight:300; line-height:1.2;}
.display-2{font-size:5.5rem;font-weight:300;line-height:1.2;}
.display-3{font-size:4.5rem;font-weight:300;line-height:1.2;}
.display-4{font-size:3.5rem;font-weight:300;line-height:1.2;}
.hr{margin-top:1.5rem;margin-bottom:1.5rem;border:0;border-top:1px solid rgba(0, 0, 0, 0.4);}
.row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
.col-2, .col-3,.col{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;}
.col{flex-basis:0;flex-grow:1;max-width:100%;}
.col-3{flex:0 0 25%;max-width:25%;}
.col-2{flex: 0 0 16.66667%;max-width:16.66667%;}
.py-1{padding-top: 0.375rem !important;}
.py-1{padding-bottom: 0.375rem !important;}
.py-2{padding-top:0.75rem!important;}
.py-2{padding-bottom:0.75rem!important;}
.text-center{text-align:center!important;}
body{height:100%;}
.break {page-break-after: always !important;}
</style>
<body>
<div class="col"> {# full-page #}
    {% set itemCount = 0 %}
    {% for data in prod %}
        {% for tag in range(1, data.amount) %}
        {% set logo =  ('/pdf' in app.request.server.get('REQUEST_URI')) ? '../'~logo : asset(logo) %}
        {% set pageJump = '' %}
        {% set itemCount = itemCount + 1 %}
        {% if itemCount is same as(8) %}
          {% set itemCount = 0 %}
          {% set pageJump = 'break' %}
        {% endif %}
        <div class="row">

                <div class="col-2">
                    <img class="col" src="{{ logo }}">
                </div>

                <div class="col">
                    {% if data.city == '' %}
                        {% set fontsize = 'h1' %}
                    {% elseif data.name | length > 19 %}
                        {% set fontsize = 'h3' %}
                    {% else %}
                        {% set fontsize = 'h2' %}
                    {% endif %}
                    <div class="col-12">
                      <span class="{{ fontsize }}">{{ data.name }}</span>
                    </div>
                    <div class="col-12">
                      <span class="h3">{{ data.city }}</span>
                    </div>
                </div>

                <div class="col-3 text-center">
                    <span class="h1">{{ data.check != 0 ? (tag/2) | round(0, 'ceil') : tag }}</span><br>
                    <span class="h3">VOL. {{ data.check != 0 ? (data.amount/2) | round(0, 'ceil') : data.amount }}</span>
                </div>
        </div>
        <hr class="hr {{pageJump}}">
        {% endfor %}
    {% endfor %}
</div> {# end of full-page #}
</body>
</html>