<style>
    .tag-page1 {
        width: 25cm;
        margin: 0px 0px 80px 0px;
    }

    .s-tag {
        margin: 5px 0px 0px 0px;
    }

    .i-tag {
        margin: 0px 0px 0px 0px;
    }

    .s-tag div {
        margin: 0px 15px 0px 0px;
    }

    .i-tag div {
        margin: 0px 15px 0px 0px;
    }

    .tag-img {
        max-width: 100%;
        max-height: 100%:
    }

    .tag-box-1 {
        width: 3cm;
        height: 4.5cm;
        padding-top: 20px;
        overflow: hidden
    }

    .tag-box-2 {
        width: 17cm;
        height: 4.5cm;
        overflow: hidden
    }

    .tag-box-3 {
        width: 3cm;
        height: 4.5cm;
        overflow: hidden
    }

    .tag-box-4 {
        width: 14cm;
        overflow: hidden;
    }

    .tag-box-5 {
        width: 3cm;
        overflow: hidden;
    }

    .tag-box-6 {
        width: 3cm;
        overflow: hidden;
    }

    .tag-center {
        text-align: center
    }

    .tag-float-right {
        float: right;
    }

    .tag-float-left {
        float: left;
    }

    .tag-clear {
        clear: both;
        width: 100%
    }

    .t-right {
        padding: 0px 0px 0px 10px;
    }

    .t-font-sz0 {
        font: 40px Arial, Serif;
        padding-top: 2px;
    }

    .t-font-sz1 {
        font: bold 80px Arial, Serif;
    }

    .t-font-sz3 {
        font: bold 40px Arial, Serif;
        padding-top: 10px
    }

    .t-font-sz4 {
        font: bold 30px Arial, Serif;
        padding-top: 10px
    }

    .t-font-sz5 {
        font: 45px Arial, Serif;
        padding: 7px 0px 0px 0px;
    }

    .t-font-sz6 {
        font: 65px Arial, Serif;
        padding-top: 7px;
    }

    .t-border {
        border-bottom: 1px solid black
    }

    .t-w100 {
        width: 100%
    }
</style>
{% include 'components/print.html.twig' %}
<div class="tag-page1">
    {% for data in prod %}
    {% set pageCounter = 0 %}
    {% for tag in range(1, data.amount) %}
    {% set pageCounter = pageCounter + 1 %}
    {% set path =  ('/pdf' in app.request.server.get('REQUEST_URI')) ? logo : asset(logo) %}
    {% if pageCounter == 6 %}
    {% set pageCounter = 0 %}
    <div>
        <div id="tag-page1">
            {% endif %}
            <div class="tag">
                <div class="s-tag t-border">

                    <div class="tag-box-1 tag-float-left"><img class="tag-img" src="{{ path }}"></div>

                    <div class="tag-box-2 tag-float-left">
                        {% if data.city == '' %}
                            {% set fontsize = 't-font-sz6' %}
                        {% elseif data | length > 27 %}
                            {% set fontsize = 't-font-sz0' %}
                        {% else %}
                            {% set fontsize = 't-font-sz5' %}
                        {% endif %}
                        <span class="t-w100 tag-float-left {{ fontsize }}">{{ data.name }}</span>
                        <span class="tag-float-left t-font-sz3 t-w100">{{ data.city }}</span>
                    </div>

                    <div class="tag-box-3 tag-float-left t-right">
                        <span class="t-font-sz1 tag-float-left t-w100">{{ data.check != 0 ? (tag/2) | round(0, 'ceil') : tag }}</span>
                        <span class="t-font-sz4 tag-float-left t-w100">VOL. {{ data.check != 0 ? (data.amount/2) | round(0, 'ceil') : data.amount }}</span>
                    </div>
                    <div class="tag-clear"></div>

                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>