<style>
    .first-page {margin: 0px 0px 0px 0px; width: 100%; height: 100%; position: relative; -webkit-print-color-adjust: exact; }
    .page { margin: 80px 0px 0px 0px; width: 100%; height: 100%; position: relative; -webkit-print-color-adjust: exact; }
    .content { padding: 15px; }
    .fit { width: 300px; height: 150px }
    .f-left { float: left; }
    .clear { clear: both; }
    .center { text-align: center }
    .img { width: 19% }
    .img img { margin: 0 0 0 0; }
    .head { margin: 20px 0px 0px 100px; }
    .head span {
        display: block;
        margin: 3px 0px 0 0px;
        padding: 0px 0px 0px 100px;
    }
    .rzs {
        font-weight: bolder;
        font-size: 25px
    }
    .first-body {
        margin: 50px 0 0px 0px;
    }
    .body {
        margin: 0px 0 0px 0px;
    }
    .title {
        font: bold 20px "Fire Sans", serif;
        margin: 0 0 20px 0;
    }
    .row-f .title {
        margin: 0px 0 20px 0px
    }
    .row-f {
        margin: 10px 0px 0px 0px;
    }
    .row-f div {
        margin: 0 0 6px 0;
    }
    .line span {
        margin: 0px 180px 0px 0px;
    }
    .tp {
        margin-left: 434px
    }
    .h-line {
        margin: 0px 0px 0px 0px;
    }
    .h-line hr {
        margin: 20px 0px 30px 0px;
    }
    .row-f .c-name {
        margin: 10px 0px 10px 0px;
    }
    .info span {
        margin: 0px 100px 0px 0px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0px 0px 10px 0px;
    }
    .f-content span {
        display: block;
        margin: 3px 0px 0px 0px;
        font: italic 15px "Fire Sans", serif;
    }
    .pg_number {
        right: 0;
        position: absolute;
        margin: 0 20px 0 0px;
    }
</style>
{% include 'components/print.html.twig' %}
<div id="doc">
    <div class="first-page">
        <div class="content">
            <div class="a-header">
                <div class="f-left img"><img class="fit" src="{{ asset(logo) }}"></div>
                <div class="f-left head"><span class="rzs">Urnas Mart Ltda</span><span
                            class="cnpj">005.020.839/0001-05</span></div>
                <div class="clear"></div>
            </div>
            <div class="first-body">
                <div class="row-f">
                    <div class="title center"><span>Relátorio de Viagem: {{ data.driverName }}</span></div>
                    <div class="line center"><span>Data Saida: &nbsp;&nbsp;&nbsp;&nbsp;</span><span>Hora:</span><span>KM:</span>
                    </div>
                    <div class="line center"><span>Data Chegada:</span><span>Hora:</span><span>KM:</span></div>
                    <span class="tp">Total Percorrido:</span>
                </div>
                {% set itensCounter = 1 %}
                {% set pageCounter = 1 %}
                {% for p in prod %}
                {% if itensCounter == 0 %}
                <div class="footer">
                    <span class="pg_number">{{ pageCounter }}</span>
                    <div class="f-content center">
                        <span class="address">Rua Pedro Mesquita, 1260, 67200-00. Maritua -Pará</span>
                        <span class="email">Email: vendas@urnart.com.br</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="content">
            <div class="a-header">
                <div class="f-left img"><img class="fit" src="{{ asset(logo) }}"></div>
                <div class="f-left head"><span class="rzs">Urnas Mart Ltda</span><span
                            class="cnpj">005.020.839/0001-05</span></div>
                <div class="clear"></div>
            </div>
            <div class="body">
                <div class="row-f center">
                    <div><span class="title">{{ p.city }}</span></div>
                    <div class="c-name"><span>{{ p.name }}</span></div>
                    <div class="info">
                        <span>Data Chegada:</span><span>Hora:</span><span>Data Chegada:</span><span>Hora:</span></div>
                    <div class="h-line">
                        <hr>
                        <hr>
                        <hr>
                    </div>
                </div>
                {% set pageCounter = pageCounter + 1 %}
                {% set itensCounter = itensCounter + 1 %}
                {% elseif itensCounter == 3 %}
                    <div class="row-f center">
                        <div><span class="title">{{ p.city }}</span></div>
                        <div class="c-name"><span>{{ p.name }}</span></div>
                        <div class="info"><span>Data Chegada:</span><span>Hora:</span><span>Data Chegada:</span><span>Hora:</span>
                        </div>
                        <div class="h-line">
                            <hr>
                            <hr>
                            <hr>
                        </div>
                    </div>
                    {% set itensCounter = 0 %}
                {% else %}
                    <div class="row-f center">
                        <div><span class="title">{{ p.city }}</span></div>
                        <div class="c-name"><span>{{ p.name }}</span></div>
                        <div class="info"><span>Data Chegada:</span><span>Hora:</span><span>Data Chegada:</span><span>Hora:</span>
                        </div>
                        <div class="h-line">
                            <hr>
                            <hr>
                            <hr>
                        </div>
                    </div>
                    {% set itensCounter = itensCounter + 1 %}
                {% endif %}
                {% endfor %}
                <div class="footer">
                    <span class="pg_number">{{ pageCounter }}</span>
                    <div class="f-content center">
                        <span class="address">Rua Pedro Mesquita, 1260, 67200-00. Maritua -Pará</span>
                        <span class="email">Email: vendas@urnart.com.br</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
