<html>
<style>
@supports (padding: max(0px)) {}
@media all and (max-height: 576px) {@supports (padding: max(0px)) {}}
/* eslint-disable */.filepond--list-scroller::-webkit-scrollbar:vertical{width:1em}.filepond--list-scroller::-webkit-scrollbar:horizontal{height:0}body {font-size: .875rem;}
@supports ((position: -webkit-sticky) or (position: sticky)) {}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #12bbad;
  --secondary: #4f70ce;
  --success: #28a745;
  --info: #ccc;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f3f3f3;
  --dark: #151515;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
*,
*::before,
*::after {box-sizing: border-box;}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }
@-ms-viewport {
  width: device-width; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: white; }
table {border-collapse: collapse;}
th {text-align: inherit;}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }
.h1, .h3, .h4, .h5 {
  margin-bottom: 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 200;
  line-height: 1.2;
  color: inherit; }
.h1 {font-size: 2.5rem;}
.h3 {font-size: 1.75rem;}
.h4 {font-size: 1.5rem;}
.h5 {font-size: 1.25rem;}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
.col-3, .col-6, .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }
.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }
.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  background-color: transparent; }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
.table-sm th,
.table-sm td {
  padding: 0.3rem; }
.table-bordered {
  border: 1px solid #dee2e6; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6; }
  .table-bordered thead th {
    border-bottom-width: 2px; }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
    .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus {
      box-shadow: 0 0 0 0.2rem rgba(18, 187, 173, 0.25), inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #0e8c82;
    border-color: #0c8177; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(18, 187, 173, 0.5); }
  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #3355b7;
    border-color: #3051ad; }
    .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(79, 112, 206, 0.5); }
  .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430; }
    .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #b3b3b3;
    border-color: #acacac; }
    .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(204, 204, 204, 0.5); }
  .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500; }
    .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d; }
    .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #dadada;
    border-color: lightgray; }
    .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(243, 243, 243, 0.5); }
  .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: black;
    border-color: black; }
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(21, 21, 21, 0.5); }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #12bbad;
    border-color: #12bbad; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(18, 187, 173, 0.5); }
  .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #4f70ce;
    border-color: #4f70ce; }
    .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(79, 112, 206, 0.5); }
  .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
    .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
  .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #ccc;
    border-color: #ccc; }
    .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(204, 204, 204, 0.5); }
  .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
    .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
    .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active {
    color: #212529;
    background-color: #f3f3f3;
    border-color: #f3f3f3; }
    .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(243, 243, 243, 0.5); }
  .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #151515;
    border-color: #151515; }
    .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(21, 21, 21, 0.5); }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .page-link:not(:disabled):not(.disabled) {
    cursor: pointer; }
  .close:not(:disabled):not(.disabled) {
    cursor: pointer; }
  @supports (transform-style: preserve-3d) { }
  @supports (transform-style: preserve-3d) { }
  @supports (transform-style: preserve-3d) { }
@supports (position: sticky) {}
.my-2 {margin-top: 0.75rem !important;}
.my-2 {margin-bottom: 0.75rem !important;}
.my-3 {margin-top: 1.5rem !important;}
.my-3 {margin-bottom: 1.5rem !important;}
.my-4 {margin-top: 2.25rem !important;}
.my-4 {margin-bottom: 2.25rem !important;}
.my-5 {margin-top: 4.5rem !important;}
.my-5 {margin-bottom: 4.5rem !important;}
.text-center {text-align: center !important;}
.font-weight-bold {font-weight: 700 !important;}
@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important; }
  thead {
    display: table-header-group; }
  tr {
    page-break-inside: avoid; }
  @page {
    size: a3; }
  body {
    min-width: 992px !important; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }
html, body {
  height: 100%; }
.loading:not(:required) {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 1500ms infinite linear;
	-moz-animation: spinner 1500ms infinite linear;
	-ms-animation: spinner 1500ms infinite linear;
	-o-animation: spinner 1500ms infinite linear;
	animation: spinner 1500ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}@charset "UTF-8";
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(/build/fonts/fa-solid-900.b5596f4d.eot);
  src: url(/build/fonts/fa-solid-900.b5596f4d.eot) format("embedded-opentype"), url(/build/fonts/fa-solid-900.46280631.woff2) format("woff2"), url(/build/fonts/fa-solid-900.61969d43.woff) format("woff"), url(/build/fonts/fa-solid-900.b70cea03.ttf) format("truetype"), url(/build/images/fa-solid-900.82905d8d.svg) format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(/build/fonts/fa-brands-400.d9d17590.eot);
  src: url(/build/fonts/fa-brands-400.d9d17590.eot) format("embedded-opentype"), url(/build/fonts/fa-brands-400.4b115e11.woff2) format("woff2"), url(/build/fonts/fa-brands-400.b90365bc.woff) format("woff"), url(/build/fonts/fa-brands-400.c39278f7.ttf) format("truetype"), url(/build/images/fa-brands-400.80533988.svg) format("svg");
}
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/build/fonts/fa-regular-400.414ff5da.eot);
  src: url(/build/fonts/fa-regular-400.414ff5da.eot) format("embedded-opentype"), url(/build/fonts/fa-regular-400.65779ebc.woff2) format("woff2"), url(/build/fonts/fa-regular-400.5dd3976c.woff) format("woff"), url(/build/fonts/fa-regular-400.f6c6f6c8.ttf) format("truetype"), url(/build/images/fa-regular-400.e7e957c8.svg) format("svg");
}</style>
<body>
<div class="col">
    {% set data = prod[0] %}
    <div class="col text-center">
        <div class="h3">Prestação de contas</div>
        <div class="h3">{{data.driver_name}}</div>
    </div>
    <div class="col text-center row my-2">
        <div class="col-6 h5">Data de saída:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.departure_date | date('d/m/Y') }}</div>
        <div class="col-6 h5">KM de saída:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.departure_km }}</div>
        <div class="col-6 h5">Data de chegada:&nbsp;&nbsp;{{ data.arrival_date | date('d/m/Y') }}</div>
        <div class="col-6 h5">Km de chegada:&nbsp;&nbsp;&nbsp;{{ data.arrival_km }}</div>
        <div class="col-6 h5">&nbsp;</div>
        <div class="col-6 h5">Km rodado:&nbsp;&nbsp;&nbsp;{{ data.arrival_km - data.departure_km }}</div>
    </div>
    <div class="col text-center my-4">
        <table class="table table-bordered table-sm">
            <thead>
                <th scope="col">Clientes</th>
                <th scope="col">Frete</th>
                <th scope="col">Pedido</th>
                <th scope="col">Cheque</th>
                <th scope="col">Por Conta</th>
            </thead>
            <tbody>
            {% set freight = 0 %}
            {% set order_value = 0 %}
            {% set check_value = 0 %}
            {% set by_count_value = 0 %}
            {% set entryBalance = 0 %}
            {% for entry in data.travel_entries %}
            <tr>
                <td>{{entry.nome}}</td>
                <td>R$ {{entry.freight | number_format(2, ',', '.' ) }}</td>
                {% set freight = freight + entry.freight %}
                <td>R$ {{entry.order_value | number_format(2, ',', '.' ) }}</td>
                {% set order_value = order_value + entry.order_value %}
                <td>R$ {{entry.check_value | number_format(2, ',', '.' ) }}</td>
                {% set check_value = check_value + entry.check_value %}
                <td>R$ {{entry.by_count_value | number_format(2, ',', '.' ) }}</td>
                {% set by_count_value = by_count_value + entry.by_count_value %}
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <th>&nbsp;</th>
                <th>R$ {{ freight | number_format(2, ',', '.') }} </th>
                <th>R$ {{ order_value | number_format(2, ',', '.') }} </th>
                <th>R$ {{ check_value | number_format(2, ',', '.') }} </th>
                <th>R$ {{ by_count_value | number_format(2, ',', '.') }} </th>
                {% set balance = by_count_value + order_value + freight %}
            </tfoot>
        </table>
    </div>
    {% set allExpenses = 0 %}
    {% if data.expenses is defined %}
    <div class="col">
        <div class="h4 font-weight-bold">Despesas</div>
    {% for expense in data.expenses %}
        <div class="col row">
            <div class="col-3 h5">{{ expense.nome }}</div><div class="col h5">R$ {{ expense.valor | number_format(2, ',', '.') }}</div>
        </div>
        {% set allExpenses = allExpenses + expense.valor %}
    {% endfor %}
        <div class="col row my-3">
            <div class="col-3 h3">Total</div><div class="col h3">R$ {{ allExpenses | number_format(2, ',', '.') }}</div>
        </div>
    </div>
    {% else %}
    <div class="col">
        <div class="h1">Não há despesas</div>
    </div>
    {% endif %}
    <div class="col my-5">
            <div class="h4 font-weight-bold">Totais</div>
            <div class="col row">
                <div class="col-3 h5">Entrada</div><div class="col h5">R$ {{ balance | number_format(2, ',', '.') }}</div>
            </div>
            <div class="col row">
                <div class="col-3 h5">Caixa</div><div class="col h5">R$ {{ data.cash | number_format(2, ',', '.') }}</div>
            </div>
            <div class="col row">
                <div class="col-3 h5">Total</div><div class="col h5">R$ {{ (balance - data.cash) | number_format(2, ',', '.') }}</div>
            </div>
            <div class="col row">
                {% set finalExpense =  allExpenses %}
                <div class="col-3 h5">Despesas</div><div class="col h5">R$ {{ finalExpense | number_format(2, ',', '.') }}</div>
            </div>
            <div class="col row my-3">
                <div class="col-3 h5">Balanço Final</div><div class="col h5">R$ {{ ((balance - data.cash) - finalExpense) | number_format(2, ',', '.') }}</div>
            </div>
        </div>
</div>
</body>
</html>