{% extends 'index.html.twig' %}

{% block tittle %}
    Pedido
{% endblock %}

{% block content %}
<script>
    var product = [{% for product in products %}{ value: '{{ product.name }}', cod: '{{ product.getId }}', price: '{{ product.price }}' },{% endfor %}]
    var customers = [{% for customer in customers %}{ value: '{{ customer.razaoSocial }}', cod: '{{ customer.getId }}' },{% endfor %}]
    var transporter = [{% for transporter in transporters %}{ value: '{{ transporter.name }}', port: '{{ transporter.port }}', cod: '{{ transporter.getId }}'},{% endfor %}]
    var payment = [{% for payment in payments %}{ value: '{{ payment.name }}', cod: '{{ payment.getId }}', plot: '{{ payment.isPlot }}' },{% endfor %}]
</script>

{% for message in app.flashes('error') %}
    <script>
        setTimeout(() => {
            var notify = new noty({
                text: "{{ message }}",
                layout: 'topCenter',
                type: 'alert',
                theme: 'bootstrap-v4',
                animation: {
                    open: 'animated fadeInUp',
                    close: 'animated fadeOutDown'
                }
            }).show()
            notify.setTimeout(3500)
        }, 1000)
    </script>
{% endfor %}

<div class="col-12 p-3" id="automaticOrder">
    <div class="clearfix">
        <h1 class="float-left">Criar Pedido</h1><a href="/forms/order" class="btn btn-white btn-lg float-left"><i class="fas fa-arrow-right"></i> Ir para pedido Manual</a>
    </div>
    <form method="POST">
        <div class="row">
            <div class="col-md-12 my-1">
                <input type="submit" class="btn btn-primary active btn-block btn-lg" value="Criar pedido">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <fieldset class="border border-light my-1">
                    <legend class="px-1 bg-light">Cliente</legend>
                    <div class="row m-1">
                        <div class="form-group col">
                            <label> Nome do cliente </label>
                            <input type="text" placeholder="Nome do cliente" class="form-control" autocp="customers" disabled="disabled">
                            <input type="hidden" placeholder="Nome do cliente" id="idClientName" name="clientName"></div>
                        <div class="form-group col-md-3">
                            <label> Data do Pedido </label>
                            <input type="text" class="form-control date-mask" name="clientCity" value="{{"now"|date("d/m/Y")}}">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <fieldset class="border border-light">
                    <legend class="px-1 bg-light">Produtos</legend>
                    <div class="row m-1">
                        <div class="col" cloneField>
                            <div class="input-group my-1" clone-area>
                                    <input type="hidden" name="p[cod]" id="cod">
                                <div class="input-group col-md-3">
                                    <input type="text" removeFrom="product" class="form-control" name="p[product]" placeholder="Inserir valor" autocp="product" disabled="disabled">
                                </div>
                                <div class="input-group col-md-3">
                                    <input type="text" class="form-control numbers-float-only" name="p[price]" id="prod-price" disabled>
                                </div>
                                <div class="input-group col-md-2">
                                    <input type="text" class="form-control numbers-only" name="p[qnt]" id="prod-qnt" placeholder="Quantidade" disabled>
                                </div>
                                <div class="input-group col-md-2">
                                    <input type="text" class="form-control numbers-only" name="total" id="total" placeholder="Total" disabled>
                                </div>
                                <button type="submit" class="btn btn-success" mk-clone>
                                    <span class="fas fa-fw fa-plus" mk-clone></span>
                                </button>
                                <button type="submit" class="btn mx-1 btn-danger" rm-clone>
                                    <i class="fas fa-fw fa-times" rm-clone></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="my-1 border border-light">
                    <legend class="px-1 bg-light">Valor total</legend>
                    <div class="row m-1">
                        <div class="col-8">
                            <div class="form-group">
                                <div class="input-group">
                                    <h3>Total Produtos&nbsp;</h3>
                                    <h3>R$&nbsp;&nbsp;</h3>
                                    <h3><span id="allProductsPrice">0,00</span></h3>
                                </div>
                                <div class="input-group">
                                    <h3>Valor Final &nbsp;</h3>
                                    <h3>R$&nbsp;&nbsp;</h3>
                                    <h3><span id="finalPrice">0,00</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <h3>Valor da(s) Parcela(s)</h3>
                                    <h3>R$&nbsp;&nbsp;</h3>
                                    <h3><span id="installmentPrice">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-4">
                <fieldset class="border border-light">
                    <legend class="px-1 bg-light">Forma de Pagamento</legend>
                    <div class="row m-1">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Seleciona a forma de pagamento</label>
                                <input type="text" class="form-control" id="formPg" formCp="payment" required="required" disabled>
                                <input type="hidden" name="formPg" id="formPgNumber">
                                <small>Caso a opção seja putra seleciona outro</small>
                            </div>
                            <div class="form-group">
                                <label>Numero de Parcelas</label>
                                <input type="text" class="form-control" id="inst" name="installments" required="required" disabled>
                            </div>
                            <div class="form-group">
                                <label>Desconto</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">R$</div>
                                    </div>
                                    <input type="hidden" name="discount" id="noDiscount" value="0">
                                    <input type="number" class="form-control" name="discount" id="discount">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="border border-light my-1">
                    <legend class="px-1 bg-light">Frete</legend>
                        <div class="row m-1">
                            <div class="col-md-12">
                            <div class="form-group">
                                <label>Valor do frete</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">R$</div>
                                    </div>
                                    <input type="number" class="form-control" name="freight" id="freight"></div>
                            </div>
                            <div class="form-group">
                                <label>Barco & Transportadora</label>
                                <div class="input-group">
                                    <input type="hidden" id="transp" class="form-control" name="transporter">
                                    <input type="text" transcp="transporter" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Porto</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="port" id="port">
                                </div>
                            </div>
                            </div>
                        </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <fieldset class="border border-light my-1">
                    <legend class="px-1 bg-light">Observações</legend>
                    <div class="row m-1">
                        <div class="form-group col">
                            <textarea class="form-control" value="escreve aqui" name="observation"></textarea>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
</div>
{% endblock %}
