{% extends 'index.html.twig' %}

{% block tittle %}Pedido{% endblock %}

{% block content %}
<script>
    var transporter = [{% for transporter in transporters %}{ value: '{{ transporter.name }}', port: '{{ transporter.port }}', cod: '{{ transporter.getId }}'},{% endfor %}]
    var payment = [{% for payment in payments %}{ value: '{{ payment.name }}', cod: '{{ payment.getId }}', plot: '{{ payment.isPlot }}' },{% endfor %}]
</script>

  <div class="p-3 manual-editing">
        <div class="col-12">
          <div class="clearfix">
            <h1 class="float-left">Editar Pedido {{ order.getId }}</h1>{#<a href="/order/create" class="btn btn-white btn-lg float-left text-dark"><i       class="fas fa-arrow-right"></i> Ir para pedido automatico</a></h1>
          </div>
	    <small class="text-danger"><b>Esses pedidos não serão registrados no banco de dados nem contarão em relátorios</b></small>#}
        </div>
        <hr>
          <form method="POST">
            <div class="row">
                {% include 'components/csrfToken.html.twig' with {'tokenText': 'formOrder'} %}
                <div class="col-md-12 my-1">
                    <input type="submit" class="btn btn-primary active btn-block btn-lg" id="send-form" value="Editar pedido {{ order.getId }}">
                </div>
            </div>
            <div class="row">
              <div class="col">
                <fieldset class="border border-light my-1">
                  <legend class="px-1 bg-light">Cadastro Básica</legend>
                  <div class="row m-1">
                    <div class="form-group col">
                      <label> Nome do cliente </label>
                      <input type="text" placeholder="Nome do cliente" class="form-control" name="clientName" value="{{ order.getCustomerName }}"> </div>
                    <div class="form-group col">
                      <label> Cidade </label>
                      <input type="text" placeholder="Cidade" class="form-control" name="clientCity" value="{{ order.getCustomerCity }}"> </div>
                    </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-8" id="manualOrder">
                <fieldset class="border border-light">
                  <legend class="px-1 bg-light">Produtos</legend>
                  <div class="row m-1">
                    <div class="col-md-12" id="tag">
                      
                        {% set totalProductsPrice = 0 %}
                        {% set totalAmount = 0 %}
                        {% for product in order.getManualProductCarts %}
                          <div class="input-group my-1 w-100" id="cloneableField">
                            <div class="col-3">
                              <input type="hidden" input-number='true' input-name="cloneableField" value="{{ loop.index - 1 }}">
                              <input type="text" class="form-control" name="cloneableField{{ loop.index - 1 }}[model]" id="model" placeholder="Urna" value="{{ product.getProductName }}" required="required"></div>
                            <div class="col">
                              <input type="hidden" name="cloneableField{{ loop.index - 1 }}[money]" id="money" converted-value="{{ product.getProductPrice }}" value="{{ product.getProductPrice }}">
                              <input type="text" class="form-control numbers-only auto-float-convert-blur ignore-clone" id="price" placeholder="Preço" required="required" value="R$ {{ product.getProductPrice | number_format(2, ',', '.') }}">
                            </div>
                            <div class="col">
                              <input type="number" class="form-control col" name="cloneableField{{ loop.index - 1 }}[amount]" id="amount" placeholder="Qnt" required="required" value="{{ product.getProductAmount }}"></div>
                            <div class="col-3">
                              <input type='text' class="form-control money-mask ignore-clone" id="totalPrice" value="R$ {{ (product.getProductAmount * product.ProductPrice) | number_format(2, ',', '.') }}"></div>  
                            <button type="submit" class="btn btn-success" add-btn="true">
                              <span class="fas fa-fw fa-plus" add-btn="true"></span>
                            </button>
                            <button type="submit" class="btn mx-1 btn-danger" remove-btn="true">
                              <i class="fas fa-fw fa-times" remove-btn="true"></i>
                            </button>
                          </div>
                          {% set totalAmount = totalAmount + product.getProductAmount %}
                          {% set totalProductsPrice = totalProductsPrice + (product.getProductAmount * product.ProductPrice) %}
                      {% endfor %}
                      
                    </div>
                  </div>
                </fieldset>
                <fieldset class="my-1 border border-light">
                  <legend class="px-1 bg-light">Valor total</legend>
                  <div class="row m-1">
                    <div class="col-7">
                      <div class="form-group">
                        <div class="input-group">
                          <h3>Total Produtos&nbsp;</h3>
                          <h3>R$&nbsp;&nbsp;</h3>
                          <h3><span id="allProductsPrice">0,00</span></h3>
                        </div>
                        <div class="input-group">
                          <h3>Valor Final &nbsp;</h3>
                          <h3>R$&nbsp;&nbsp;</h3>
                          <h3><span id="finalPrice">0,00</span></h3>
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <div class="input-group">
                          <h4>Total de Urna(s): &nbsp;</h4>
                          <h4><span id="finalAmount">{{ totalAmount }}</span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-4">
                <fieldset class="border border-light">
                  <legend class="px-1 bg-light">Forma de Pagamento e Frete</legend>
                  <div class="row m-1">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Seleciona a forma de pagamento</label>
                        <input type="hidden" name="formPg" id="paymentType" value="{{ order.getPaymentType.getId }}">
                        <input type="text" class="form-control no-keypress" id="payment" autocp="payment" autocomplete="off" required="required" value="{{ order.getPaymentType.getName }}">
                        {#<small>Caso a opção seja putra seleciona outro</small>#}
                      </div>
                      <div class="form-group">
                        <label>Valor do frete</label>
                        <div class="form-group">
                          <input type="hidden" converted-value="" name="freight" value="{{ order.getFreight }}">
                          <input type="text" class="form-control numbers-float-only auto-float-convert-blur" id="freight" value="R$ {{ order.getFreight | number_format(2, ',', '.') }}"></div>
                      </div>
                      <div class="form-group">
                        <label>Desconto</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <input type="checkbox" toggle-disabled="discount" id="discountCheck" {{ order.getDiscount == null ? '' : 'checked' }}>
                            </div>
                          </div>
                          <input type="hidden" name="discount" id="noDiscount" converted-value value="{{ order.getDiscount }}">
                          <input type="text" class="form-control numbers-float-only auto-float-convert-blur" id="discount" value="R$ {{ order.getDiscount | number_format(2, ',', '.') }}">
                        </div>
                          <small class="form-text text-muted">Caso exista algum desconto marque a opção</small>
                      </div>
                      <div class="form-group">
                        <label>Barco & Transportadora</label>
                        <div class="form-group">
                          <input type="text" name="transporter" class="form-control" autocp="transporter" id="transporter" value="{{ order.getTransporter == null ? '' : order.getTransporter }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Porto</label>
                        <div class="input-group">
                          <input type="text" class="form-control" name="port" id="port" value="{{ order.getPort == null ? '' : order.getPort }}">
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <fieldset class="border border-light my-1">
                  <legend class="px-1 bg-light">Observações</legend>
                  <div class="row m-1">
                    <div class="form-group col">
                        <textarea class="form-control" value="escreve aqui" name="observation">{{ order.getComments }}</textarea>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
  </div>
{% endblock %}
