<div class="col-8 p-3" id="view{{order.getId}}">
<div class="d-inline clearfix">
<h1 class="float-left">
    Pedido {{ order.getId }}
</h1>
<div class="float-right">
<h5>Alterado por: Alguém</h5>
<h5>Em: {{ order.getLastUpdate | date("d/m/Y") }}</h5>
</div>
</div>
<hr>
    <div class="row">
        <div class="col">
            <fieldset class="border border-light my-1">
                <legend class="px-1 bg-light">Cliente</legend>
                <div class="row m-1">
                    <div class="form-group col">
                        <label>
                            Nome do cliente
                        </label>
                        <div class="form-control col-md-6">
                            {{ order.getCustomer }}
                        </div>
                        </div>
                    <div class="form-group col-md-3">
                        <label>
                            Data do Pedido
                        </label>
                        <div class="form-control col-md-12">
                            {{ order.getCreateDate | date('d/m/Y') }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <small>Refatorar essa parte</small>
            <fieldset class="border border-light">
                <legend class="px-1 bg-light">Produtos</legend>
                <div class="row m-1">
                        <div class="input-group my-1" clone-area="clone-area">
                            <div class="col-md-3 text-center"><strong>Produto</strong></div>
                            <div class="col-md-3 text-center">
                                <strong>Preço</strong>
                            </div>
                            <div class="col-md-3 text-center">
                                <strong>Quantidade</strong>
                            </div>
                            <div class="col-md-3 text-center">
                                <strong>Total</strong>
                            </div>                                
                        </div>
                        {% for product in order.getProductCarts %}
                            <div class="input-group my-1" clone-area="clone-area">
                                <div class="input-group col-md-3">
                                    <div class="form-control">{{ product.getProduct.getName }}</div>
                                </div>
                                <div class="input-group col-md-3">
                                    <div class="form-control">R$ {{ (product.getCustomPrice is null ? product.getProduct.getPrice : product.getCustomPrice) | number_format(2, ',', '.') }}</div>
                                </div>
                                <div class="input-group col-md-3">
                                    <div class="form-control">{{ product.getAmount }}</div>
                                </div>
                                <div class="input-group col-md-3">
                                    <div class="form-control">R$ {{ (product.getCustomPrice is null ? product.getProduct.getPrice * product.getAmount : product.getCustomPrice * product.getAmount) | number_format(2, ',', '.') }}</div>
                                </div>                                
                            </div>                            
                        {% endfor %}
                </div>
            </fieldset>
            <fieldset class="my-1 border border-light">
                <legend class="px-1 bg-light">Valor total</legend>
                <div class="row m-1">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <h3>Total Produtos&nbsp;</h3>
                                <h3>R$&nbsp;&nbsp;</h3>
                                <h3>
                                    <span id="allProductsPrice">{{ order.totalPrice | number_format(2, ',', '.') }}</span></h3>
                            </div>
                            <div class="input-group">
                                <h3>Valor Final &nbsp;</h3>
                                <h3>R$&nbsp;&nbsp;</h3>
                                <h3>
                                    <span id="finalPrice">{{ (order.totalPrice + order.freight + order.discount) | number_format(2, ',', '.') }}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-4">
            <fieldset class="border border-light">
                <legend class="px-1 bg-light">Forma de Pagamento e Frete</legend>
                <div class="row m-1">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Seleciona a forma de pagamento</label>
                            <div class="form-control">{{ order.paymentType }}</div>
                        </div>
                        <div class="form-group">
                            <label>Valor do frete</label>
                            <div class="input-group">
                                <div class="form-control">R$ {{ order.freight | number_format(2, ',', '.') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Desconto</label>
                            <div class="input-group">
                                <div class="form-control">R$ {{ order.discount | number_format(2, ',', '.') }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Barco & Transportadora</label>
                            <div class="input-group">
                                <div class="form-control">{{ (order.transporter == '') ? 'NÃO CADASTRADO' : order.transporter }}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Porto</label>
                            <div class="input-group">
                                <div class="form-control">{{ (order.port == '') ? 'NÃO CADASTRADO' : order.port }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <fieldset class="border border-light my-1">
                <legend class="px-1 bg-light">Observações</legend>
                <div class="row m-1">
                    <div class="form-group col">
                        {{ order.comments }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
</div>