<div id="unit" style="display:none">

	<div class="card text-center my-2">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills">
				<li class="nav-item">
					<h4>Unidades</h4>
				</li>
				<li class="nav-item mx-5">
					<button href="javascript:;" data-fancybox data-src="#add-unit" class="btn btn-primary">Adicionar</button>
				</li>
				<li class="nav-item mx-2">
					<button id="unit-reload" class="btn reload"><i class="fas fa-sync reload"></i></button>
				</li>
			</ul>
		</div>
		<div class="card-body" data-name="unit">
			<table class="table table-hover tablesorter sortable" name="unidades">
				<thead class="table-primary">
					<tr>
						<th>Ini</th>
						<th>Unidades</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody id="unit-body">
					{% for item in unit %}	
					<tr>
						<td class="d-none id-number">
							{{ item.id }}
						</td>
						<td class="text-left" name="{{ item.initials | capitalize }}">
							{{ item.initials }}
						</td>
						<td class="text-left" name="{{ item.name | capitalize  }}">
							{{ item.name }}
						</td>
						<td class="text-right">
							<span class="badge badge-pill badge-danger remover cursor-decoration">Remover</span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>

<div id="add-unit" style="display:none">

	<div class="card text-center my-2">
		<div class="card-header">
			Adicionar Unidade
		</div>
		<div class="card-body">
			<form method="post" action="register/add/unit" id="add-unit-form" target="unit">
				<div class="form-group">
					<input type="text" name="initials" class="form-control" maxlength="2" size="2" placeholder="Iniciais da Unidade">
				</div>
				<div class="form-group">
					<input type="text" name="name" class="form-control" placeholder="Nome da Unidade">
				</div>
				<button class="btn btn-primary sender oneTimeClick" data-sender="register/add/unit" method="post" token="{{ csrf_token(app.session.get('csrftoken')) }}">Cadastrar</button>
			</form>
		</div>
	</div>
</div>
