{% extends '/index.html.twig' %}

{% block title %}
    Produtos
{% endblock %}

{% block content %}
    <div class="col p-3">
        <h1>Estoques de Produtos</h1>
        <hr>
        <div class="row px-2">
            <div class="col">

                <div class="action-buttons">
                    <a data-action="add-prod" class="btn btn-primary text-light">Adicionar Produto</a>
                    <a data-action="in-prod" class="btn btn-primary text-light">Adicionar Produção</a>
                </div>

                <div class="mx-0 my-3">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link text-dark active" id="feedstock-tab" data-toggle="tab"
                                   href="#feedstock" role="tab" aria-controls="home" aria-selected="true">
                                    <b>Resumo</b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="product-tab" data-toggle="tab" href="#products"
                                   role="tab" aria-controls="profile" aria-selected="false">
                                    <b>Estatisticas</b>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="product-tab" data-toggle="tab" href="#products"
                                   role="tab" aria-controls="profile" aria-selected="false">
                                    <b>Relatórios</b>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" id="product-tab" data-toggle="tab" href="#products"
                                   role="tab" aria-controls="profile" aria-selected="false">
                                    <b>Listas</b>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="feedstock" role="tabpanel"
                                 aria-labelledby="feedstock-tab">
                                <div class="m-0">
                                    <div class="row my-2 mx-0">
                                        <div class="mx-2">
                                            <i class="badge badge-warning">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                            - Produto precisa de atenção
                                        </div>
                                        <div class="mx-2">
                                            <i class="badge badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                            - Produto em quantidade mínima
                                        </div>
                                    </div>
                                    <table class="table table-hover tablesorter sortable">
                                        <thead class="table-primary">
                                        <tr>
                                            <th>#</th>
                                            <th width="18%" data-sort-default>Nome</th>
                                            <th>Cores</th>
                                            <th>Disponivel</th>
                                            <th>Reservado</th>
                                            <th>Min.</th>
                                            <th>Max.</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if product %}
                                            {% for p in product %}
                                                <tr>
                                                    <td>{{ p.getId }}</td>
                                                    <td>{{ p.name }}</td>
                                                    <td>
                                                        {% if p.color != [] %}
                                                            {% for color in p.color %}
                                                                <span class="badge badge-light">{{ color }}</span>
                                                            {% endfor %}
                                                        {% else %}
                                                            Não tem cores :(
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ p.getProductInventory.getNonReservedStock }}</td>
                                                    <td>{{ p.getProductInventory.getReserved }}</td>
                                                    <td>{{ p.getMinStock }}</td>
                                                    <td>{{ p.getMaxStock }}</td>
                                                    <td>
                                                        <a data-action="view{{ p.getId }}"
                                                           class="badge badge-secondary text-light cursor-decoration">Visualizar</a>
                                                        <a href="/storage/productAction/{{ p.getId }}"
                                                           class="badge badge-success text-light">Editar</a>
                                                        <a class="badge badge-danger text-light"
                                                           del="{{ '/storage/productAction/' | rot13 }}{{ p.getid }}">Remover</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <th colspan="7" class="text-center">Nenhum produto :(</th>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
                                <div class="m-2">
                                    <div class="row my-2 mx-0">
                                        <div class="mx-2">
                                            <i class="badge badge-warning">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                            - Produto precisa de atenção
                                        </div>
                                        <div class="mx-2">
                                            <i class="badge badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                            - Produto em quantidade mínima
                                        </div>
                                    </div>
                                    <table class="table table-hover">
                                        <thead class="table-primary">
                                        <tr>
                                            <th style="width: 10%">#</th>
                                            <th style="width: 50%">Nome</th>
                                            <th style="width: 30%">Quantidade</th>
                                            <th style="width: 10%">Ações</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">
                                                <b>1</b>
                                            </th>
                                            <td>
                                                <b>Mark</b>
                                            </td>
                                            <td>
                                                <b>Otto</b>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="badge badge-secondary">Visualizar</a>
                                            </td>
                                        </tr>
                                        <tr class="bg-danger">
                                            <th scope="row">
                                                <b>1</b>
                                            </th>
                                            <td>
                                                <b>Mark</b>
                                            </td>
                                            <td>
                                                <b>Otto</b>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="badge badge-secondary">Visualizar</a>
                                            </td>
                                        </tr>
                                        <tr class="bg-warning">
                                            <th scope="row">
                                                <b>1</b>
                                            </th>
                                            <td>
                                                <b>Mark</b>
                                            </td>
                                            <td>
                                                <b>Otto</b>
                                            </td>
                                            <td class="text-center">
                                                <a href="#" class="badge badge-secondary">Visualizar</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '/storage/pages/prod-add.html.twig' with { 'prods' : product } only %}
    {% include '/storage/pages/prod-in.html.twig' with { 'prods' : product } only %}
    {% for prod in product %}
        {% include '/storage/pages/prod-view.html.twig' with { 'product' : prod } only %}
    {% endfor %}

{% endblock %}