{% extends "index.html.twig" %}

{% block title %}Permissões{% endblock %}

{% block content %}

<div class="px-4 py-5 col" id="admin">   
    <div class="col">
        <h2>Alterar permissões de usuários</h2>
        <hr>
    </div>
    <div class="col">
        {% set roleList = [
            { k: 'ROLE_ADMIN', v: 'Administrador' }, 
            { k: 'ROLE_SUPER_ADMIN', v: 'Super usuario' }
        ] %}
        
        {% for user in users %}
        <form method="POST" action="/admin/user/permission" id="permission{{ user.id }}">
            <div class="col my-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ user.userName }}</h5>
                        <div class="card-text my-2">
                            <div class="form-row mx-1">
                                <input type="hidden" name="name" value="{{ user.userName }}" />
                                <input type="hidden" name="identification" value="{{ user.id }}" />
                                {% for role in roleList %}
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" id="customCheck{{ user.id }}{{ loop.index }}"  value="{{ role.k }}" name="user_roles[]" {% if role.k in user.roles %}checked=""{% endif %} />
                                        <label class="custom-control-label" for="customCheck{{ user.id }}{{ loop.index }}">{{ role.v }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button type="submit" {# form-target="permission{{ user.id }}" #} class="btn btn-success">Alterar permissões</button>
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}
            
    </div>
</div>    

{% endblock %}