<div class="col px-4 py-3">
    {% if orders == [] %}
        <div class="py-3">
            <h3>Não há pedidos cadastrados</h3>
        </div>
    {% else %}
        <div class="py-3">
            <h3>Pedidos por cliente</h3>
        </div>
        {% set customerName = null %}
            {% for customerNameOrder in orders %}
            {% if customerNameOrder.getReserved == 1 %}
            {% set status = 'Reservado' %}
            {% elseif customerNameOrder.getReserved == 2 %}
            {% set status = 'Fechado' %}
            {% else %}
            {% set status = 'Aberto' %}
            {% endif %}
            {% if customerName is null %}
            <h4>Cliente - {{ customerNameOrder.getCustomer }}</h4>
            <table class="table">
                <thead>
                    <th scope="col" class="text-center">Data Do Pedido</th>
                    <th scope="col" class="text-center">Numero do Pedido</th>
                    <th scope="col" class="text-center">Status do Pedido</th>
                    <th scope="col">&nbsp;</th>
                </thead>
                <tbody id="orders">
                    <tr>
                        <td class="text-center">
                            <strong>{{ customerNameOrder.getCreateDate | date('d/m/Y') }}</strong>
                        </td>
                        <td class="text-center">
                            {{ customerNameOrder.getId }}
                        </td>
                        <td class="text-center">
                            {{ status }}
                        </td>
                        <td class="text-center">
                            <span href="javascript:;" data-fancybox data-src="#view{{customerNameOrder.getId}}" class="badge badge-pill badge-primary cursor-decoration">Visualizar</span>
                            {% if customerNameOrder.isOpen %}
                                <span reserve="h={{'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Reservar</span><span close="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                            {% elseif customerNameOrder.isClosed %}
                            {% else %}
                                <span reopen="h={{'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Irradiar</span><span close="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                            {% endif %}
                            <a href="/order/action/edit/{{customerNameOrder.getId}}" class="badge badge-pill badge-success text-light cursor-decoration">Editar</a>
                            <a print="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.getId }}" href="/order/action/print" class="badge badge-pill badge-light cursor-decoration">Imprimir</a>
                        </td>
                    </tr>    
            {% elseif customerName is not null and customerName != customerNameOrder.customer %}
            </tbody>
            </table>
            <table class="table">
                <h4>Cliente - {{ customerNameOrder.getCustomer }}</h4>
                <thead>
                    <th scope="col" class="text-center">Data Do Pedido</th>
                    <th scope="col" class="text-center">Numero do Pedido</th>
                    <th scope="col" class="text-center">Status do Pedido</th>
                    <th scope="col">&nbsp;</th>
                </thead>
                <tbody id="orders">
                    <tr>
                        <td class="text-center">
                            <strong>{{ customerNameOrder.getCreateDate | date('d/m/Y') }}</strong>
                        </td>
                        <td class="text-center">
                            {{ customerNameOrder.getId }}
                        </td>
                        <td class="text-center">
                            {{ status }}
                        </td>
                        <td class="text-center">
                            <span href="javascript:;" data-fancybox data-src="#view{{customerNameOrder.getId}}" class="badge badge-pill badge-primary cursor-decoration">Visualizar</span>
                            {% if customerNameOrder.isOpen %}
                                <span reserve="h={{'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Reservar</span><span close="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                            {% elseif customerNameOrder.isClosed %}
                            {% else %}
                                <span reopen="h={{'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Irradiar</span><span close="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                            {% endif %}
                            <a href="/order/action/edit/{{customerNameOrder.getId}}" class="badge badge-pill badge-success text-light cursor-decoration">Editar</a>
                            <a print="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.getId }}" href="/order/action/print" class="badge badge-pill badge-light cursor-decoration">Imprimir</a>
                        </td>
                    </tr>
            {% else %}
                    <tr>
                        <td class="text-center">
                            <strong>{{ customerNameOrder.getCreateDate | date('d/m/Y') }}</strong>
                        </td>
                        <td class="text-center">
                            {{ customerNameOrder.getId }}
                        </td>
                        <td class="text-center">
                            {{ status }}
                        </td>
                        <td class="text-center">
                            <span href="javascript:;" data-fancybox data-src="#view{{customerNameOrder.getId}}" class="badge badge-pill badge-primary cursor-decoration">Visualizar</span>
                            {% if customerNameOrder.isOpen %}
                                <span reserve="h={{'valido' | makeHash }}&i={{ customerNameOrder.getId }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Reservar</span><span close="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.getId }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                            {% elseif customerNameOrder.isClosed %}
                            {% else %}
                                <span reopen="h={{'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Irradiar</span><span close="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.id }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                            {% endif %}
                            <a href="/order/action/edit/{{customerNameOrder.getId}}" class="badge badge-pill badge-success text-light cursor-decoration">Editar</a>
                            <a print="h={{ 'valido' | makeHash }}&i={{ customerNameOrder.getId }}" href="/order/action/print" class="badge badge-pill badge-light cursor-decoration">Imprimir</a>
                        </td>
                    </tr>
            {% endif %}
            {% set customerName = customerNameOrder.customer %}
            {% endfor %}
    {% endif %}
</div>
