<div class="col px-4 py-3">
    <div class="py-3">
        <h3>Lista dos pedidos fechados</h3>
    </div>
    {% if orders == [] %}
        <h1>Não ha pedidos fechados no momento :(</h1>
    {% else %}
    <table class="table">
        <thead>
            <th scope="col" class="text-center">Numero do Pedido</th>
            <th scope="col" class="text-center">Cliente</th>
            <th scope="col" class="text-center">Data Do Pedido</th>
            <th scope="col" class="text-center">Data do Fechamento</th>
            <th scope="col">&nbsp;</th>
        </thead>
        <tbody id="orders">
            {% for order in orders %}
            <tr>
                <td class="text-center">
                    {{ order.getId }}
                </td>
                <td class="text-center">
                    {{ order.getCustomer }}
                </td>
                <td class="text-center">
                    <strong>{{ order.getCreateDate | date('d/m/Y') }}</strong>
                </td>
                <td class="text-center">
                    <strong>{{ order.getLastUpdateDate | date('d/m/Y') }}</strong>
                </td>
                <td class="text-center">
                    <span href="javascript:;" data-fancybox data-src="#view{{order.getId}}" class="badge badge-pill badge-primary cursor-decoration">Visualizar</span>
                    {% if order.isOpen %}
                    <span reserve="h={{'valido' | makeHash }}&i={{ order.id }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Reservar</span><span
                        close="h={{ 'valido' | makeHash }}&i={{ order.id }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                    {% elseif order.isClosed %}
                    {% else %}
                    <span reopen="h={{'valido' | makeHash }}&i={{ order.id }}" class="badge badge-pill badge-secondary cursor-decoration mx-1">Irradiar</span><span
                        close="h={{ 'valido' | makeHash }}&i={{ order.id }}" class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                    {% endif %}
                    <a href="/order/action/edit/{{order.getId}}" class="badge badge-pill badge-success text-light cursor-decoration">Editar</a>
                    <a print="h={{ 'valido' | makeHash }}&i={{ order.getId }}" href="/order/action/print" class="badge badge-pill badge-light cursor-decoration">Imprimir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% endif %}
</div>
