{% extends 'index.html.twig' %}

{% block title %}Pessoa Juridica{% endblock %}

{% block content %}
    <div class="col py-2">
        <h1>Clientes - Pessoal Juridica</h1>
        <hr>
    <div class="row px-1">
        <div class="col">
            <div class="mx-1 my-1">
            <div class="col">
                <div class="mx-2 row">
                    <button class="btn btn-primary btn-block w-25 mx-1" data-action="add-customer">
                        <span style="font-size: 20px" data-action="add-customer">Adicionar</span></button>
                    <div class="w-50">
                    <input type="text" class="form-control mx-5 my-1" placeholder="Pesquisar">
                    </div>
                </div>
                <div class="tab-pane" id="feedstock" role="tabpanel" aria-labelledby="feedstock-tab">
                    <div class="m-2">
                        <table class="table table-hover border border">
                            <thead class="table-primary">
                                <tr>
                                    <th class="d-none">id</th>
                                    <th scope="col">Razão Social</th>
                                    <th scope="col">CNPJ/CPF</th>
                                    <th scope="col">Cidade</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody name="pessoaFisica">
                                    {% if person != [] %}
                                        {% for p in person %}
                                        <tr>
                                            <td class="d-none" scope="row"><b>{{ p.getId }}</b></td>
                                            <td><b>{{ p.razaoSocial }}</b></td>
                                            <td><b>{{ p.cnpj }}</b></td>
                                            <td><b>{{ p.getEstado }}</b></td>
                                            <td><b>{{ p.getMunicipio }}</b></td>
                                            <td class="text-center">
                                                <a href="#" class="badge badge-primary" edit={{ p.getId }}>Editar</a>
                                                <a href="#" class="badge badge-secondary" view={{ p.getId }}>Visualizar</a>
                                                <a href="#" class="badge badge-danger" remove={{ p.getId }}>Remover</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center"><span style="font-size: 30px">Nenhum cadastro</span></td>
                                    </tr>
                                    {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% include 'person/pages/__formCustomer.html.twig' %}
{% endblock %}