{% extends 'index.html.twig' %}

{% block title %}Pessoa Juridica{% endblock %}

{% block content %}
    <div class="col p-2">
        <h1>Clientes - Pessoal Fisica</h1>
        <hr>
        <div class="row px-1">
            <div class="col">
                <div class="mx-1">
                    <div class="col">
                        <div class="tab-pane" id="feedstock" role="tabpanel" aria-labelledby="feedstock-tab">
                            <div class="m-2">
                                <table class="table table-hover border border">
                                    <thead class="table-primary">
                                        <tr>
                                            <th class="d-none">id</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">CPF</th>
                                            <th scope="col">Rg</th>
                                            <th scope="col">Telenofe</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% if person != [] %}
                                                {% for p in person %}
                                                <tr>
                                                    <td class="d-none" scope="row">
                                                        <b>{{ p.getId() }}</b>
                                                    </td>
                                                    <td>
                                                        <b>{{ p.firstName }} {{ p.lastName }}</b>
                                                    </td>
                                                    <td>
                                                        <b>{{ p.cpf }}</b>
                                                    </td>
                                                    <td>
                                                        <b>{{ p.rg }}</b>
                                                    </td>
                                                    <td>
                                                        <b>{{ p.getPhones.first.number }}</b>
                                                    </td>
                                                    <td>
                                                        <b>{{ p.getEmails.first.email }}</b>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="badge badge-primary">Editar</a>
                                                        <a href="#" class="badge badge-secondary">Visualizar</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="5" class="text-center">
                                                        <span style="font-size: 30px">Nenhum cadastro</span>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}