<div class="col">
    <form action="{{data.route}}" method="get">
        <div class="input-group mb-3">
            <input type="hidden" name="__hash" value="{{ 'now' | date('h:m:s') }}" />
            <input type="hidden" name="name" value="{{data.name}}" />
            <input type="hidden" name="entity" value="{{data.entity}}" />
            <input type="hidden" name="field" value="{{data.field}}" />
            <input type="text" class="form-control" placeholder="Pesquisar {{ data.placeholder ?? '' }}" aria-label="Pesquisar {{ data.placeholder ?? '' }}" name="query" aria-describedby="button-addon2" />
            <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
</div>