<div id="{{ el.name }}" style="display: none">
    <form action="/report/{{ el.metadata }}" method="POST">
        {% for item in el.fields %}
            {% for row in item %}
                <div class="form-row">
                    {% for r in row %}
                        <div class="form-group">
                            <input  type="{{ r.type }}" 
                                    name="{{ r.name }}" 
                                    placeholder="{{ r.placeholder is defined ? r.placeholder : '' }}"
                                    class="{% for class in r.class %}{{ class ~ ' ' }}{% endfor %}" 
                            />         
                        </div>                         
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %} 
            <div class="form-group">
                <input type="submit" class="btn btn-success btn-block" value="Enviar" />
            </div> 
    </form>
</div>
                        