{% extends 'index.html.twig' %}

{% block content %}
    <div class="bg-secondary">
        <div class="sidebar-sticky p-1">
            <ul class="list-unstyled">
                <li class="px-3"><span class="px-3 mx-3">&nbsp;</span></li>
                <li class="noline text">
                    <a href="/order/create">
                        <div class="d-flex align-items-center">
                            <span class="mx-1 my-2">&nbsp;&nbsp;Fazer Pedido</span>
                        </div>
                    </a>
                </li>
                <li class="noline">
                    <a> <!-- href="/person/customer" -->
                        <div class="d-flex align-items-center">
                            <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Lista de pedidos</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <script>
            setTimeout( () => {
                var notify = new noty({
                    text: "{{ message }}",
                    layout: 'topCenter',
                    type: 'success',
                    theme: 'bootstrap-v4',
                    animation: {
                        open: 'animated fadeInUp', // Animate.css class names
                        close: 'animated fadeOutDown' // Animate.css class names
                    }
                }).show()
                notify.setTimeout(2500)
            }, 1000)
        </script>
    {% endfor %}

    <div class="col p-3">
    {% if orders == [] %}
        Não ha pedidos cadastrados no momento :(
    {% else %}

        <table class="table">
            <thead>
                <th scope="col" class="text-center">Numero do Pedido</th>
                <th scope="col" class="text-center">Cliente</th>
                <th scope="col" class="text-center">Data Do Pedido</th>
                <th scope="col">&nbsp;</th>
            </thead>
            <tbody id="orders">
                {% for order in orders %}
                <tr>
                    <td class="text-center">
                        {{ order.getId }}
                    </td>
                    <td class="text-center">
                        {{ order.getCustomer }}
                    </td>
                    <td class="text-center">
                        {{ order.getCreateDate | date('d/m/Y') }}
                    </td>
                    <td>
                        <span data-action="view{{order.getId}}" class="badge badge-pill badge-primary cursor-decoration">Visualizar</span>
                        <span reserve="h={{'valido' | makeHash }}/i={{ order.id }}" class="badge badge-pill badge-secondary cursor-decoration">Reservar</span>
                        <a href="/order/action/edit/{{order.getId}}" class="badge badge-pill badge-success text-light cursor-decoration">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
    </div>


    {% for order in orders %}
        {% include '/order/pages/viewOrder.html.twig' with {'order' : order } %}
    {% endfor %}

{% endblock %}
