{% extends 'index.html.twig' %}

{% block content %}
    <div class="bg-secondary">
        <div class="sidebar-sticky p-1">
            <ul class="list-unstyled">
                <li class="px-3"><span class="px-3 mx-3">&nbsp;</span></li>
                <li class="noline text d-none">
                    <a href="/order/create">
                        <div class="d-flex align-items-center">
                            <span class="mx-2 my-2 btn btn-outline-light"><b>Fazer Pedido</b></span>
                        </div>
                    </a>
                </li>
                <li class="noline text">
                    <a href="/forms/order">
                        <div class="d-flex align-items-center">
                            <span class="mx-2 my-2 btn btn-outline-light"><b>Pedido Manual</b></span>
                        </div>
                    </a>
                </li>
                <li class="noline d-none"> {# automatic reports #}
                    {#<a href="/order/list?type=">#} <!-- href="/person/customer" -->
                        <div class="d-flex align-items-center">
                            <span class="mx-2 my-2 btn btn-outline-light">Lista de pedidos</span>
                        </div>
                    </a>
                </li>
                <li class="noline">
                    <a href="/order/manual/list">
                        <div class="d-flex align-items-center">
                            <span class="mx-2 my-2 btn btn-outline-light">Lista de pedidos</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% for label, messages in app.flashes %}
        <script>
            {% for message in messages %}
            setTimeout(() => {
                var notify = new noty({
                    text: "{{ message }}",
                    layout: 'topCenter',
                    type: "{{ label }}",
                    theme: 'bootstrap-v4',
                    animation: {
                        open: 'animated fadeInUp', // Animate.css class names
                        close: 'animated fadeOutDown' // Animate.css class names
                    }
                }).show()
                notify.setTimeout(2500)
            }, 1000)
            {% endfor %}
        </script>
    {% endfor %}
    <div class="col p-3">
        {% if orders == [] %}
            <h3>Não ha pedidos cadastrados no momento. Você pode cadastralos clicando <a class="text-secondary" href="forms/order">aqui</a></h3>
        {% else %}
            <table class="table">
                <thead>
                <th scope="col" class="text-center">Numero do Pedido</th>
                <th scope="col" class="text-center">Cliente</th>
                <th scope="col" class="text-center">Status do Pedido</th>
                <th scope="col" class="text-center">Data Do Pedido</th>
                <th scope="col">&nbsp;</th>
                </thead>
                <tbody id="orders">
                {% for order in orders %}
                    {% if order.getReserved == 1 %}
                        {% set status = 'Reservado' %}
                    {% elseif order.getReserved == 2 %}
                        {% set status = 'Fechado' %}
                    {% else %}
                        {% set status = 'Aberto' %}
                    {% endif %}
                    <tr>
                        <td class="text-center">
                            {{ order.getId }}
                        </td>
                        <td class="text-center">
                            {{ order.getCustomer }}
                        </td>
                        <td class="text-center">
                            {{ status }}
                        </td>
                        <td class="text-center">
                            {{ order.getCreateDate | date('d/m/Y') }}
                        </td>
                        <td class="text-center">
                            <span href="javascript:;" data-fancybox data-src="#view{{ order.getId }}"
                                  class="badge badge-pill badge-primary cursor-decoration">Visualizar</span>
                            {% if order.isOpen %}
                                <span><a href="/order/action/edit/{{ order.getId }}"
                                   class="badge badge-pill badge-success text-light cursor-decoration">Editar</a></span>
                                <span reserve="h={{'valido' | makeHash }}&i={{ order.id }}" class="badge badge-pill badge-secondary cursor-decoration">Reservar</span>
                                <span close="h={{ 'valido' | makeHash }}&i={{ order.id }}"
                                      class="badge badge-pill badge-warning cursor-decoration">Fechar</span>
                            {% elseif order.isClosed %}
                                <a print="h={{ 'valido' | makeHash }}&i={{ order.getId }}" href="/order/action/print"
                                   class="badge badge-pill badge-light cursor-decoration">Imprimir</a>
                            {% else %}
                                <span reopen="h={{ 'valido' | makeHash }}&i={{ order.id }}"
                                      class="badge badge-pill badge-secondary cursor-decoration mx-1">Irradiar</span>
                                <span close="h={{ 'valido' | makeHash }}&i={{ order.id }}"
                                      class="badge badge-pill badge-warning cursor-decoration mx-1">Fechar</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% for order in orders %}
        {% include '/order/pages/viewOrder.html.twig' with {'order' : order } %}
    {% endfor %}
{% endblock %}
