{% extends "index.html.twig" %}

{% block content %}
    <div class="bg-secondary" id="manual-list">
        <div class="sidebar-sticky py-4 px-1">
            <ul class="list-unstyled">
                <li class="px-3">
                    <span class="px-3 mx-3">&nbsp;</span></li>
                <li class="noline text">
                    <a href="/order/manual/list">
                        <div class="d-flex align-items-center">
                            <span class="mx-1 my-2">&nbsp;&nbsp;Ultimos Pedidos</span>
                        </div>
                    </a>
                </li>
                <li class="noline text cursor-decoration">
                    <a href="/order/manual/list?type=customerName">
                        <div class="d-flex align-items-center">
                            <span class="mx-1 my-2">&nbsp;&nbsp;Pedidos Por Cliente</span>
                        </div>
                    </a>
                </li>
                <li class="noline">
                    <a href="/order/manual/list?type=bydate">
                        <div class="d-flex align-items-center">
                            <span class="mx-1 my-2 disabled">&nbsp;&nbsp;Pedidos por data</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
<div class="px-4 py-5 col printOrder">
	<form method="GET">
		<div class="form-row">
			<h3 class="col-md-12">Selecione datas para busca de pedidos</h3>
			<div class="form-group col-md-6">	
				<label class="sr-only" for="beginDate">Data de Inicio</label>
						<div class="input-group mb-2">
                            <input type="hidden" id="beginDate" name="beginDate" />
							<input type="text" class="form-control date-mask no-keypress calendar-selector"  placeholder="Data inicial" date-target="#beginDate" autocomplete="off">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
							</div>
						</div>
			</div>
			<div class="form-group col-md-6">
				<label class="sr-only" for="lastDate">Data Final</label>
					<div class="input-group mb-2">
                            <input type="hidden" name="lastDate" id="lastDate" />
							<input type="text" class="form-control date-mask no-keypress calendar-selector" id="lastDate"  placeholder="Data Final" autocomplete="off" date-target="#lastDate">
							<div class="input-group-prepend">
								<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
							</div>
					</div>
			</div>
		</div>
		<div class="form-group col-md-12">
			<input type="submit" class="btn btn-primary btn-full btn-block" value="Filtrar">
		</div>
	</form>
	<div class="text-center">
        {% if beginDate is empty and lastDate is empty %}

        {% elseif beginDate is not empty and lastDate is not empty %}
            <h3 id="typeOfList">Pedido no intervalo de {{ beginDate | date('d/m/Y') }} a {{ lastDate | date('d/m/Y') }}.</h3>
        {% elseif beginDate is not empty and lastDate is empty %}
            <h3 id="typeOfList">Pedidos a partir do dia {{ beginDate | date('d/m/Y') }}.</h3>
        {% elseif beginDate is empty and lastDate is not empty %}
            <h3 id="typeOfList">Pedidos até dia {{ lastDate | date('d/m/Y') }}.</h3>
        {% endif %}
        {% if beginDate is not null or lastDate is not null %}
        <div class="row" id="listItens">
            <div class="col">
                <h4><b>Data</b></h4>
            </div>
            <div class="col">
                <h4><b>Nome</b></h4>
            </div>
            <div class="col">
                <h4><b>Cidade</b></h4>
            </div>
            <div class="col">
                <h4><b>Form. pg.</b></h4>
            </div>
            <div class="col">
                <h4><b>Valor Total</b></h4>
            </div>
            <div class="col-3">
                <h4><b>Ações</b></h4>
            </div>
        </div>
        {% endif %}
        
        {% if lists is empty %} 
            <h4>Não há pedidos deste intervalo.</h5>
        {% endif %}
        
        {% for list in lists %}

            <div class="row py-1 elRow">
                    <div class="col">
                        <h5>{{ list.createDate | date('d/m/Y') }}</h5>
                    </div>
                    <div class="col">
                        <h5>{{ list.customerName }}</h5>
                    </div>
                    <div class="col">
                        <h5>{{ list.customerCity }}</h5>
                    </div>
                    <div class="col">
                        <h5>{{ list.paymentType }}</h5>
                    </div>
                    <div class="col">
                        {% set finalPrice = 0 %}
                        {% for key, value in list.getManualProductCarts %}
                            {% set finalPrice = finalPrice + value.getProductPrice %}    
                        {% endfor %}
                        {% set finalPrice = finalPrice + list.freight - list.discount %}
                        <h5>{{ finalPrice | number_format(2, ',', '.') }}</h5>
                    </div>
                    <div class="col-3">
                            <a class="badge badge-pill badge-primary" href="javascript:;" data-fancybox data-src="#viewManualOrder{{ list.getId }}">
                                Visualizar
                            </a>
                            <a print="h={{ 'valido' | makeHash }}&i={{ list.getId }}&r=ManualOrderReport" href="/order/action/print" class="badge badge-pill badge-light cursor-decoration">Imprimir</a>
                        {% if list.active == true %} 
                            <a class="badge badge-pill badge-warning order-edit" href="/order/manual/{{ list.getId }}">
                                Editar
                            </a>
                            <a class="badge badge-pill badge-danger order-close" href="/order/manual/{{list.getId}}">
                                Fechar
                            </a>
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(lists) }}
        </div>
        
	</div>
</div>

{% endblock %}